[2016-05-12 02:24] huytt1992 commented on #419
thank @vinodborole
i am using Version 3 Authentication, and i running Mitaka. Lib : version .2.11
here my code folow your useguide.
 os = OSFactory.builderV3().useNonStrictSSLClient(true).scopeToProject(Identifier.byId("5fe442be936440c2bba57df3f8c71230"), Identifier.byName("default"))
			            .credentials("xxx", "xxxxx", Identifier.byName("default")).endpoint("http://10.60.0.220:5000/v3")

[2016-05-12 11:05] olivierlemasle opened #662 "Add possibility to bypass ServiceLoader to programmatically choose connector"
Currently, selection of `HttpExecutorService` relies on ServiceLoader which is great because you don't need any configuration to change the connector; you just have to get the dependency on classpath.

But sometimes, it is useful to programmatically select a connector. In my case, I already have in my application an instance of `HttpClient`, which is shared by all the services that require making

[2016-05-12 21:14] wyllys66 opened #664 "scopeToProject requests are incorrect (3.0.0-SNAPSHOT) [V3 identity API]"
Using the latest 3.0.0-SNAPSHOT code, when "scopeToProject" is used, the JSON request is incorrectly formatted (nothing appears in the "Scope" block and keystone service rejects it:

The Code:
[code]

The JSON request sent to the server:
[code]

Keystone says:
[code]

[2016-05-12 21:55] olivierlemasle commented on #664
Hi,

Try using:

[code]

This uses the domain-dependant [scopeToProject](http://www.openstack4j.com/javadoc/org/openstack4j/api/client/IOSClientBuilder.V3.html#scopeToProject%28org.openstack4j.model.common.Identifier,%20org.openstack4j.model.common.Identifier%29) method, which works in my case.

[2016-05-12 21:57] wyllys66 commented on #664
Yep, that fixes it. Thanks!

[2016-05-13 02:25] huytt1992 opened #665 "Search API Access?"
I tried searching on http://openstack4j.com/learn and http://developer.openstack.org/api-ref-compute-v2.1.html
but I did not find API this.

![capture](https://cloud.githubusercontent.com/assets/19186519/15236170/67bf2a08-18ec-11e6-907f-c02e504854e1.PNG)

please help me, thank you so much!

[2016-05-13 05:10] #600 closed

[2016-05-13 05:12] #602 closed

[2016-05-13 05:13] #616 closed

[2016-05-13 05:13] #617 closed

[2016-05-13 06:51] #623 closed

[2016-05-13 06:53] #530 closed

[2016-05-13 07:50] wumingcheng opened #666 "3.0.0 version cannot create V2 tenant"
when I want to create a v2 tenant ,the "Builders.tenant()" was missing.

[2016-05-14 08:40] #664 closed

[2016-05-14 08:43] #635 closed

[2016-05-15 00:57] auhlig commented on #666
@wumingcheng Thanks for pointing that out.
I'll fix that and add some integration-tests next week.
As a workaround for the meantime you could use the KeystoneTenant.builder()  directly.

[2016-05-16 05:38] dreadbird commented on #656
Thanks for you replay.I will pull the new code to try again.

[2016-05-16 16:53] seand9 opened #667 "Does openstack4j-jersey2-jdk16 version 3.0.0 exist?"
<dependency>
			<groupId>org.pacesys.openstack4j.connectors</groupId>
			<artifactId>openstack4j-jersey2-jdk16</artifactId>
			<version>3.0.0</version>
		</dependency>

[ERROR] Failure to find org.pacesys.openstack4j.connectors:openstack4j-jersey2-jdk16:jar:3.0.0 in http://nexus ...

[2016-05-16 16:56] gondor commented on #667
No, version 3.0.0 has dropped support for JDK6.  You can see the release summary at : https://github.com/ContainX/openstack4j/releases/tag/3.0.0

[2016-05-16 16:56] #667 closed

[2016-05-16 17:53] seand9 commented on #667
Ok, thanks. FYI openstack4j-jersey2-jdk16  is still listed on http://www.openstack4j.com/learn/getting-started under
Valid artifactId's.

From: Jeremy Unruh [mailto:notifications@github.com]
Sent: Monday, May 16, 2016 9:56 AM
To: ContainX/openstack4j <openstack4j@noreply.github.com>
Cc: Doyle, Sean <sean.doyle@sap.com>; Author <author@noreply.github.com>
Subject: Re: [ContainX/openstack4j] Does op

[2016-05-17 09:22] wumingcheng opened #668 "3.0.0 version get tenants return null."
OSClientV2 os = OSFactory.builderV2().endpoint(configuration.getEndpoint()).token(token).tenantId(tenant)
          .perspective(Facing.ADMIN).authenticate();
Tenant tenant = os.identity().tenants().get(tenantId);

get tenants return null?

[2016-05-17 14:12] gondor commented on #668
New 3.0.1-SNAPSHOT has been pushed

[2016-05-17 14:13] gondor commented on #666
New 3.0.1-SNAPSHOT has been pushed

[2016-05-17 14:35] cbergamasco opened #672 "Networks Metering Service"
#631 There's no service to implement network metering available in Openstack's API

[2016-05-17 14:37] cbergamasco commented on #672
PR #631

[2016-05-18 01:33] wumingcheng commented on #668
3.0.1-SNAPSHOT also has this bug！

[2016-05-18 09:23] liu2972505 opened #673 "JKD1.7"
my project is JDK1.7，How can i use openstack4j 3.0.0?

[2016-05-18 11:54] auhlig commented on #666
Looking at the Builders I think it makes sense to also divide by Identity version. So it would be clear which Role, User, etc. is being built or that a Group is not available when using v2.
So I would create a BuilderV2  for identity v2 and a BuilderV3 for id v3 which extends the current Builder-implementation.
That would follow the pattern used in the OSClient, OSClientSession, .. .

Does this ma

[2016-05-18 12:26] auhlig commented on #673
Well, maybe that's the right place to mention @olivergondza's comment in https://groups.google.com/d/msg/openstack4j/NW22p6-XRro/J991Cm5VBwAJ .

There were particular reason to upgrade to java 8:
- Java 7 is no longer supported with updates according to https://java.com/en/download/faq/java_7.xml
- The HTTP PATCH -method used for example in Os4j's new identity v3 part when updating attributes for

[2016-05-18 12:53] olivergondza commented on #673
@auhlig, thanks for the explanation! For now, I do not need any 3.0 features and 2.0 seems maintained and still works for me so I do not feel that strongly. Though, provided there are no other reasons I would prefer I project staid with version 7 not to split the efforts between development and maintenance branch.

I rarely agree with point #1. Even it if ware supported, would oracle/openjdk proje

[2016-05-18 13:57] auhlig commented on #645
@westenb: I guess the issue can be closed as Os4j 3.0.0 supports V3 .

[2016-05-18 13:57] #645 closed

[2016-05-18 14:23] gondor commented on #666
I like that idea, will make things cleaner and allow for expansion

[2016-05-18 14:26] dhague commented on #666
Sounds good. Technically this could introduce a breaking change in 3.0, but if we do it quickly then I think that's OK - it's not like we have a big installed base of OS4J 3.0 users yet :-)
My feeling is that if we get it out quickly as 3.0.2 (maybe even 3.1) then we should be fine.

[2016-05-19 12:08] akashgarg51 opened #676 "How to store authenticated object in cache in V3 as it was supported in V2"
Hi,

As in V2, there was a function in OSClientV2 named getAccess(), which was used to get the access of the Authenticated Object which could be used for further calls to avoid re-authentication.

But now in OSClientV3 i could not find this function. Now how can i get this authenticated object for further calls?

Thanks and Best Regards,
Akash

[2016-05-19 12:17] vinodborole commented on #676
@akashgarg51

Try this
`            Token token = ((OSClientSessionV3) session).getToken();
            SessionInfo info = new SessionInfo(token.getEndpoint(), session.getPerspective(), true, session.getProvider());
authenticateV3((KeystoneAuth) token.getCredentials(), info, session.getConfig());
`

[2016-05-20 03:16] wumingcheng opened #677 "3.0.0 version tenants uri bug"
package org.openstack4j.core.transport.ClientConstants;
public static final String PATH_TENANTS = "/auth/tenants";

to remove the "/auth":
public static final String PATH_TENANTS = "/tenants";

[2016-05-20 06:35] vinodborole commented on #677
@wumingcheng  this is been done; please use the snapshot version 3.0.1-SNAPSHOT

https://github.com/ContainX/openstack4j/blob/master/core/src/main/java/org/openstack4j/core/transport/ClientConstants.java

[2016-05-20 06:43] wumingcheng commented on #677
@vinodborole were you updated the 3.0.1-SNAPSHOT，the remote repository also has "/auth".

[2016-05-20 06:50] #677 closed

[2016-05-20 06:51] vinodborole commented on #677
![clientconstant](https://cloud.githubusercontent.com/assets/3897901/15419675/65d90b34-1e85-11e6-9d58-e42e44eb2000.png)

[2016-05-20 12:45] auhlig commented on #676
As the authenticated object is represented by a Token in the identity v3 world you should be able to use the ```getToken()```method the OSClientV3 offers.

[2016-05-20 14:55] auhlig commented on #676
@akashgarg51 Please close the issue if one of the solutions work for you.

[2016-05-22 12:28] akashgarg51 commented on #676
Yes. getToken() method worked for me. Thanks a lot.

[2016-05-23 01:16] dreadbird commented on #656
I have find the problem.I use a tenant which is not a administrator.
But the server's host info can be get by the administrator only.
In the openstack api site,the description is

[2016-05-23 02:17] #668 closed

[2016-05-23 02:17] #648 closed

[2016-05-23 04:59] akashgarg51 commented on #676
This cache mechanism worked for me. But when I deploy my code to Cloud Foundry, then "Put File" is failing for me after 10-11 hours. As soon as I deploy to Cloud Foundry, Put file works fine, but after some 10-11 hours (don't know the exact time), Put File starts failing.
I am using the below code for Put File,

MessageDigest md = MessageDigest.getInstance("MD5");
DigestInputStream digestInputStre

[2016-05-23 06:04] #656 closed

[2016-05-23 07:57] wumingcheng opened #678 "volume CRUD，name and description always been null"
return json:
{
  "success": true,
  "message": null,
  "entity": [
    {
      "id": "62d83886-6dfa-40b3-aa15-966e27f3b2b8",
      "status": "error",
     **"display_name": null,
      "display_description": null,**
      "size": 10,
      "availability_zone": "nova",
      "created_at": 1463715714000,
      "volume_type": "test123",
      "imageRef": null,
      "source_volid": null,
      "snaps

[2016-05-23 09:13] wumingcheng opened #679 "3.0.0 version DefaultAPIProvider bug"
DefaultAPIProvider is not bind "BlockQuotaSetService"

[2016-05-23 13:15] vinodborole commented on #679
You can access it from
`client.blockStorage().quotaSets()`

[2016-05-23 13:27] vinodborole commented on #678
I just created a volume with following code

`        Volume volume=client.blockStorage().volumes().create(Builders.volume().name("deleteme").size(1).description("deleteme-desc").build());
`

Following is my request and response; it has those parameters filled.

`1 > POST http://10.193.82.103:8776/v1/a7bcb49a97784e49bbb09fe8b0f47ad1/volumes
1 > Accept: application/json
1 > Content-Type: applicatio

[2016-05-23 13:32] vinodborole commented on #653
@huytt1992  please close this if its no longer valid

[2016-05-23 13:32] #643 closed

[2016-05-23 13:37] vinodborole commented on #622
It does internally.

http://google.github.io/guava/releases/18.0/api/diffs/changes/com.google.common.io.ByteStreams.html

[2016-05-23 13:37] #618 closed

[2016-05-23 13:39] vinodborole commented on #662
@auhlig @gondor What are your thoughts on this request?

[2016-05-23 13:42] vinodborole commented on #660
Name is required to create a server

http://developer.openstack.org/api-ref-compute-v2.1.html

[2016-05-23 13:53] gschukin commented on #622
https://google.github.io/guava/releases/17.0/api/docs/com/google/common/io/ByteStreams.html#copy(java.io.InputStream, java.io.OutputStream)

[code]

[2016-05-23 14:38] vinodborole commented on #622
@gschukin Thanks for this, the documentation seems not in sync with the code. Will add a fix for this.

[2016-05-23 14:46] vinodborole commented on #622
#681

[2016-05-23 21:11] menihillel opened #682 "Creating flavor omits json with extra null fields"
I'm creating a flavor and the json omitted by Openstack4J contains extra fields which are not valid for creation (see below). As a result creation fails. It seems that the POJO contains non-null values for the extra fields for some reason but they should be set to null on creation.

ClientResponseException{message=Invalid input for field/attribute flavor. Value: {u'name': u'os-chassis_TCP_1', u'ra

[2016-05-24 00:33] wumingcheng commented on #679
@vinodborole I know that method,but the
DefaultAPIProvider.java is’t bind(BlockQuotaSetService.class, BlockQuotaSetServiceImpl.class);
I just got an  exception: API not found for: org.openstack4j.api.storage.BlockQuotaSetService.

[2016-05-24 00:39] #660 closed

[2016-05-24 01:23] wumingcheng commented on #678
@vinodborole My code is same with you, but I just got NULL. Is the difference about V1 and V2? Why 3.0.0 version doesn't change "display_name" to "name", "display_description" to "description"?

[2016-05-24 04:26] vinodborole commented on #679
@wumingcheng please share the code you are trying

[2016-05-24 04:31] vinodborole commented on #678
@wumingcheng i just tried the 3.0.0 version with openstack icehouse and liberty, for both the results are the same. Please share your openstack version and the code you are trying

[2016-05-24 04:47] wumingcheng commented on #678
@vinodborole openstack version is kilo.
I created a volume with following code:
 volume = Builders.volume().name(volumeName).description(volumeDescription)
          .size(volumeSize).volumeType(volumeType).build();
volume = os.blockStorage().volumes().create(volume);
**My request:**
POST /v2/volumes
token and tenantId were used to Authenticated.
{
    "size": 1,
    "display_description": "epic_v

[2016-05-24 04:55] wumingcheng commented on #679
@vinodborole you can check DefaultAPIProvider.java with 3.0.0 version of os4j, it doesn't **"bind(BlockQuotaSetService.class, BlockQuotaSetServiceImpl.class)"** in **initialize()** method on DefaultAPIProvider.java ,so I just got an **ApiNotFoundException**: API not found for: org.openstack4j.api.storage.BlockQuotaSetService.

[2016-05-24 05:04] vinodborole commented on #682
#573

[2016-05-24 05:09] vinodborole commented on #678
@wumingcheng thanks it makes sense now; it is because of v2 API's. For now the library supports v1 only

[2016-05-24 06:21] menihillel commented on #573
What's the plan on fixing this? Kind of blocked when using Mitaka. Seems like an easy fix nulling out these fields on creation. Is there a workaround we can gain access to the POJO before submission?

[2016-05-24 06:22] menihillel commented on #682
What's the plan on fixing this? Kind of blocked when using Mitaka. Seems
like an easy fix nulling out these fields on creation. Is there a
workaround we can gain access to the POJO before submission?

On Mon, May 23, 2016 at 10:04 PM, Vinod Borole <notifications@github.com>
wrote:

[2016-05-24 06:28] wumingcheng commented on #678
@vinodborole I just tested in the openstack version icehouse,but it is still null.

[2016-05-24 06:29] vinodborole commented on #682
@menihillel for now, you can use these changes in my branch

https://github.com/ContainX/openstack4j/compare/master...vinodborole:%23573

[2016-05-24 06:33] vinodborole commented on #573
#683

[2016-05-24 06:52] L-I-O-N opened #684 "I would like to add Senlin module to the project."
#680 As openstack mitaka version add a new core project which is called Senlin.
I have finished writing the code and submitted PR [https://github.com/ContainX/openstack4j/pull/680]

[2016-05-24 07:51] wumingcheng commented on #678
@vinodborole I tested not through os4j:
**Request:**
GET http://10.134.1.3:8776/v1/e763cf04077e4a99b0ba6eb601f6a5a9/volumes/c2482cd0-acd9-4657-90be-d233a6269c89
**Response:**
{
  "volume": {
    "status": "available",
    **"display_name": "epic_volume",**
    "attachments": [],
    "availability_zone": "nova",
    "bootable": "false",
    "encrypted": false,
    "created_at": "2016-05-24T06:30:17

[2016-05-24 16:44] vinodborole commented on #678
@wumingcheng here you have the GET with volume version v1 that is why it is working

[2016-05-24 17:40] vinodborole commented on #679
#685

[2016-05-24 18:13] vinodborole commented on #682
#686

[2016-05-24 18:18] vinodborole commented on #573
#686

[2016-05-25 00:33] wumingcheng commented on #678
@vinodborole But I GET whit cinder v1 through os4j, I just got null.
I GET whit cinder v1 through openstack, not os4j, I can got value.

[2016-05-25 00:41] wumingcheng commented on #678
@vinodborole
GET http://10.134.1.3:8776/**v2**/e763cf04077e4a99b0ba6eb601f6a5a9/volumes/c2482cd0-acd9-4657-90be-d233a6269c89 also can get value, because I called rest interface **with openstack(not os4j)** directly.
I cannot get value just through os4j, but the openstack icehouse has the volume and has name and description,which was I created.

[2016-05-25 04:37] vinodborole commented on #678
@wumingcheng with cinder v1 been deprecated; openstack lists both the v1 and v2 endpoints in the token information. Out of that; os4j uses v1 as it has not supported for v2. However openstack cli uses the latest that is v2; hence you see the difference while running os4j code and openstack cli.

{
            "endpoints":[
               {
                  "adminURL":"http://10.193.82.103:8776/v2

[2016-05-25 05:07] boonseng3 opened #687 "PATH_TENANTS in ClientConstants is wrong"
I'm current testing using version 3.0.0. When i try to list the tenants, the list is empty.
After investigating, the path for tenant is wrong.

`public static final String PATH_TENANTS = "/auth/tenants";`

Why is the tenant path not /tenants?

[2016-05-25 05:10] boonseng3 commented on #687
Just realized it was raised in #677

[2016-05-25 05:10] #687 closed

[2016-05-25 06:33] akashgarg51 commented on #676
@auhlig @vinodborole Could you please help me in the above scenario. I am just stuck here and not able to proceed further!

Thanks and Best Regards,
Akash

[2016-05-26 04:17] vinodborole commented on #676
@akashgarg51 Did you verify whether the token was expired?

[2016-05-26 05:51] akashgarg51 commented on #676
Hi,

@vinodborole  I think, token is not expired, because GET calls and DELETE calls are still working. Even PUT call is also working but only for MetaData of the file, but not for the actual content of the file.

Yes, it works fine in my local (Jetty Server) after 7-8 hours as well but not in cloud foundry.

What i could think of about the issue is that after 7-8 hours, may be token get expired,

[2016-05-26 06:29] gondor commented on #672
I'll need you to submit a new PR.   The builders class was failing due to missing imports.

[2016-05-26 07:03] #658 closed

[2016-05-26 07:03] #657 closed

[2016-05-26 09:40] #679 closed

[2016-05-26 09:47] wumingcheng commented on #679
To see the CinderBlockQuotaSet.java,include snapshots,volumes and gigabytes.Why BlockQuotaSets support V2, but volume just support V1?

[2016-05-26 12:06] akashgarg51 commented on #676
Hi,

@vinodborole same issue is now reproduced in my local environment as well. Same after 7-8 hours PUT call is failing for File Content.

Thanks and Best Regards,
Akash

[2016-05-26 12:56] auhlig commented on #673
@olivergondza: Great idea to apply the restriction only to affected connectors! Could you investigate and submit a PR?

[2016-05-26 13:11] olivergondza commented on #673
@auhlig, I would love to. Can you point me to the bug you have talked about?

[2016-05-26 13:26] auhlig commented on #673
Cool.

Quick summary of the problem:
https://travis-ci.org/gondor/openstack4j/jobs/129662607 shows
[code]
which led us to http://stackoverflow.com/questions/22355235/patch-request-using-jersey-client#22412032 and to the jdk issue https://bugs.openjdk.java.net/browse/JDK-7157360, which is not fixed in jdk1.7 but in 1.8 .

[2016-05-26 15:03] sendaun opened #691 "Connection timeout with openstack4j Identity Query"
I am using openstack4j-3.0.0 to fetch the tenants list in my application. The authentication to the openstack goes fine, but it failes with java.connectexception "connection timed out" while trying to retrieve the tenant list using **osClient.identity().tenants().list();**

Here is how i am authenticating:

[code]
Authentication goes fine.

Now while attempting to fetch tenant list, getting connec

[2016-05-27 06:12] wumingcheng commented on #678
@vinodborole  To see the CinderBlockQuotaSet.java,include snapshots,volumes and gigabytes.Thre is a problem: why BlockQuotaSets support V2, but volume just support V1?

[2016-05-30 01:08] #666 closed

[2016-05-30 10:18] paula810 opened #692 "System Test/Unit Test"
Hello,

I was going through your test files and it seems that mostly all the UT's created are basically related to your functionality and not much about the interaction with the cloud. Have you considered and it may happen that your functionality is correct but the cloud response is incorrect , since cloud has a number of vulnerabilities.
Do you think a set number of Test Cases related to cloud in

[2016-05-30 10:57] olivergondza commented on #673
Fix proposed here: https://github.com/ContainX/openstack4j/pull/693

[2016-05-30 12:26] gilbirenberg opened #694 "get projects list not working with openstack4j-3.0.0"
Hi All

I am using the name jar and like to get all the projects list, here is the code I am using:
OSClientV3 os2 = OSFactory.builderV3()
             .endpoint("http://127.0.0.1:5000/v3")
             .credentials("admin", "********", Identifier.byName("default"))
             .scopeToProject(Identifier.byName("admin") , Identifier.byName("default"))
             .authenticate();
System.out.prin

[2016-05-30 14:29] auhlig commented on #694
Hi @gilbirenberg ,

Strange. Does this happen just with project list?

[2016-05-30 15:58] luciasarni commented on #649
huytt1992 I´m getting the same errors, how did you fixed it?

[2016-05-30 17:19] luciasarni opened #695 "getEndpoints v3"
I´m using openstack4j 2.20 (I need one that works with java 7) with Bluemix (openstack v3)
`client = OSFactory.builderV3();`
Once I manage to authenticate I try to get the endpoint for object-store
`List<? extends Service> services = client.getAccess().getServiceCatalog();	`
getServiceCatalog() works just fine, but once I select the service I´m looking for the getEndpoint method returns an empty a

[2016-05-31 04:37] gilbirenberg commented on #694
Hi @auhlig

Thanks for getting back to me
no, the same is happening also with
System.out.println(os2.identity().roles().list()) -> http://172.29.159.19:5000/v2.0/roles
System.out.println(os2.identity().users().list()); - > http://172.29.159.19:5000/v2.0/users

I think this is in any function's inside os2.identity()

Thanks
Gil

[2016-05-31 06:33] auhlig commented on #694
Mh. Can you take a look at the Identity Service in the Token? Is there a Identity V3 one with correct endpoints?

[2016-05-31 06:39] gilbirenberg commented on #694
should i check this with the openstart4j jar? can you give code example please?

[2016-05-31 07:18] gilbirenberg commented on #694
Hi

I hope you refering to this, but this is what i did:
Token t = os2.getToken();
List<? extends KeystoneService> ss = (List<? extends KeystoneService>) t.getCatalog();
for (KeystoneService s : ss){
  System.out.println("Service:" + s.getName());
  List<? extends Endpoint> endpoints = s.getEndpoints();
for (Endpoint endpoint : endpoints){
				System.out.println("EndPoint:" + endpoint.getUrl());

[2016-05-31 07:18] gilbirenberg commented on #694
where os2 is V3 connection, i can see that the keystone endpoint is only
http://host:5000

[2016-05-31 07:50] auhlig commented on #694
Hi,
The responsebody of the v3-authentication request contains the Token, which contains the service catalog.

So you could enable debug by adding OSFactory's .enableHttpLoggingFilter(true) when building the initial request or use a tool like Charles proxy to be able to see the response.

[2016-05-31 08:05] gilbirenberg commented on #694
did is what i did, using the OSFactory's .enableHttpLoggingFilter(true). this is how i know that the url of the projects is bad
here is the response hope this ok
May 31, 2016 11:05:17 AM org.glassfish.jersey.filter.LoggingFilter log
INFO: 1 * Client response received on thread main
1 < 201
1 < Connection: Keep-Alive
1 < Content-Length: 4869
1 < Content-Type: application/json
1 < Date: Tue, 31 May

[2016-05-31 08:32] gilbirenberg commented on #694
i think i found your problem, you are using this function String resolveV3(URLResolverParams p) to get the keystone public identity, the thing is in one of my system the response is wrong getting
http://172.29.159.19:5000/v2.0 and in one system i am getting http://10.133.65.127:5000,
I don't think that your approach here is right, you only need to get the host and port of the identity  and base on

[2016-05-31 09:05] wumingcheng opened #696 "cinder volume and quota-sets version problem"
To see the CinderBlockQuotaSet.java,it include snapshots,volumes and gigabytes.Thre is a problem: why BlockQuotaSets support V2, but volume just support V1?

[2016-05-31 09:06] westenb opened #697 "Directory name is not set for SwiftObject"
Hello,

I noticed that the getDirectoryName() method returns always null for a SwiftObject.

I checked in the source code and (if I am not mistaken), there is something missing in
org.openstack4j.openstack.storage.object.functions.ParseObjectFunction:

The relevant coding is:
[code]

I assume the object name would have to be parsed here for the directory name, right? Alternatively, this logic coul

[2016-06-01 07:24] gilbirenberg commented on #694
Hi @auhlig

hope you doing well?
looks like your code is depending on the endpoint of the identity,
example:
"region_id": "RegionOne"
"url": "http://172.29.159.19:5000/v2.0"
"region": "RegionOne"
"interface": "public"
"id": "7302ac4c97bb42e58a2e37605f332899"

I don't this is right because i am using v3 connection and when running the command:
os2.identity().projects().list()
it not using the v3 bu

[2016-06-01 07:32] wumingcheng opened #698 "3.0.1-SNAPSHOT DefaultAPIProvider bug"
DefaultAPIProvider.java with 3.0.1-snapshot of os4j doesn't
"**bind(FirewallAsService.class, FirewallAsServiceImpl.class)
,bind(FirewallService.class, FirewallServiceImpl.class)
,bind(FirewallRuleService.class, FirewallRuleServiceImpl.class)
,bind(FirewallPolicyService.class, FirewallPolicyServiceImpl.class)**"
in initialize() method.
Please solve it as soon as possible, thanks!

[2016-06-01 07:39] llarsson opened #699 "openstack4j.com no longer points to OpenStack4j web page"
http://www.openstack4j.com/ points to the correct web page, but http://openstack4j.com/ does not (points to Netshare web page).

[2016-06-01 07:43] llarsson opened #700 "Support id in CeilometerSample"
The documentation of [Ceilometer Sample](http://docs.openstack.org/developer/ceilometer/webapi/v2.html#Sample) shows that a Sample has an ID. When I stick their example in a file and try to parse it into an OpenStack4j CeilometerSample as follows:

[code]

I get the following error (rest of stack trace omitted for clarity):

[code]

[2016-06-01 08:07] llarsson opened #701 "Fully support v2 of Telemetry API"
While trying to create an obvious fix to #700, I stumbled upon further errors. It seems as if the support in OpenStack4j for [Telemetry API v2](http://developer.openstack.org/api-ref-telemetry-v2.html) is incomplete. Aside from the previously mentioned issue, the [data model](http://developer.openstack.org/api-ref-telemetry-v2.html#showSample) has changed rather significantly, referring e.g. to "m

[2016-06-01 08:08] llarsson commented on #700
This is a subset of #701, so closing this.

[2016-06-01 08:08] #700 closed

[2016-06-01 09:11] vinodborole commented on #694
@gilbirenberg Please have a look at the test cases here and try to see if it fits what you are expecting

https://github.com/ContainX/openstack4j/blob/master/core-test/src/main/java/org/openstack4j/api/identity/v3/KeystoneAuthenticationTests.java

[2016-06-01 09:39] vinodborole commented on #698
@wumingcheng  Thanks i have created a PR

#702

[2016-06-01 09:57] auhlig commented on #694
Hi @gilbirenberg ,
Sorry for the late response.

Shouldn't the Identity V3 Endpoint in the catalog end with ``` /v3 ```?
In your case it's just ``` http://<fqdn>:5000 ``.

[2016-06-01 11:06] gilbirenberg commented on #694
Hi @auhlig
No Problem, that is my problem, for some reason  on my system i get the url from the endpoint with the version and on a second system i am getting the v2.0 and not the v3
do you know if this behavior can be change in the OpenStack logic? i still think that when calling the identity() function you need to sue the token or access endpoint, the endpoint that we use for the connection and n

[2016-06-01 11:32] westenb commented on #699
I noticed the same thing. Furthermore, when the GitHub org has been changed to ContainX, I also tried to visit the linked URL http://containx.io but I cannot resolve it. Is there some more about information about ContainX? E.g. is it a legal entity?

[2016-06-01 11:51] #673 closed

[2016-06-01 12:27] auhlig commented on #694
Not sure I understand your last comment. As far as I know the url of the identity service in the catalog should contain the version, which will be used for identity operations.
Shouldn't it be enough to modify the existing/add a new endpoint with an url containing the /v3 to the identity service?

[2016-06-01 12:30] gilbirenberg commented on #694
Today the endpoint coming from the identity service is returning wrong version
Can i add new endpoint from your openstack4j jar? how can i implement your last sentence?

[2016-06-01 13:16] auhlig commented on #694
I guess in your case you need to configure your OpenStack properly, because adding an Endpoint to a service using OS4j is possible but requires that the Identity service works.

[2016-06-01 13:45] #695 closed

[2016-06-01 13:52] luciasarni opened #703 "Warning when creating a bucket"
I´m using v2.20.0 of openstack4j and I get a warning when I create a container, it does create the container but I have no way of avoiding the warning from being printed.

I separated the line for creating a container as much as possible to find the place where the warning appears:
[code]

client was build by doing: `client = OSFactory.builderV3()`

Is there anyway I could avoid this warning?
Than

[2016-06-01 14:08] vinodborole commented on #703
@luciasarni is this the warning you are talking about

`WARNING: Entity must not be null for http method PUT.`

[2016-06-01 14:11] luciasarni commented on #703
Yes (I totally forgot to put the warning in the message):

[code]

[2016-06-01 14:23] vinodborole commented on #703
@luciasarni just add below line before running your code
`LogManager.getLogManager().reset();`

[2016-06-01 14:26] vinodborole commented on #701
@gondor do we want to update the existing data model with modified properties?

[2016-06-01 14:28] luciasarni commented on #703
Thank you, it worked just fine!

[2016-06-01 14:28] #703 closed

[2016-06-01 14:29] gondor commented on #701
@vinodborole Yes, telemetry was probably modelled around the Havana release timeframe.  Many versions back.  As a rule we've tried to maintain support for 2-3 versions back max.

[2016-06-02 13:56] westenb opened #706 "PUT operation disrupt objects in case re-authentication is done"
Hello,

there seems to be severe issue with the re-authentication in combination with modifying requests (e.g. PUT) with InputStream payloads.

**Scenario:**
OSClient is created from a previously stored Token, and PUT operation is done (e.g. SWIFT file upload). If the Token is expired, the HttpExecutorServiceImpl (e.g. from the Jersey connector) will trigger a re-authentication and retry the reque

[2016-06-02 14:02] vinodborole commented on #706
@westenb Is there any with this issue #676

[2016-06-02 14:04] westenb commented on #706
Yes, I believe this is the root cause for the problem described in #676. I opened a separate ticket because #676 was about another topic initially.

[2016-06-03 14:18] westenb commented on #706
I analysed the problem a bit deeper and tried some strategies to fix the problem. However, based on the current implementation structure, I don't see an easy path without touching many parts. In particular for file and url payloads, the request entities would have to be reconstructed (to create a new InputStream).

Currently, my feeling is that the quickest fix which prevents at least the current

[2016-06-03 17:14] auhlig opened #707 "failing build"
With help of @dhague we figured out what's currently causing the failing build after #693.
Most of the problems got fixed after correcting the path to the tapes-folder by #704, the remaining 3 failures where caused by the different way parameters are appended to a uri using jdk 1.7 and 1.8 .
Apparently Betamax just compares the strings. -.-
For example:
```http://devstack.openstack.stack:5000/v3/u

[2016-06-03 17:50] vinodborole commented on #707
as with reducing the minimum requirement for os4j to 1.7; for now a PR for 1.7 LGTM

[2016-06-04 03:01] gondor commented on #707
Hey team, Personally I think its fair to the community to support Current JDK - 1 version.  After hearing a lot of feedback I think thats fair.  When JDK9 is officially release we could then drop JDK7.  It'd be nice to set the tone with the community and how we decide on JDK versions.

We're very close as you mentioned to workaround the JDK7 bug and offer support for both JDK's.

As far as betamax

[2016-06-04 07:21] olivergondza commented on #707
@gondor, I am afraid that forking dependencies for rather trivial fixes might be a slippery slope as you and up maintaining outdated forks with modifications you depend on (making it harder to switch to the upstream again).

If I am not mistaken, the order of query parameters can generally have a meaning for the target application so I guess betamax would like to respect the order.

---

Anyway, t

[2016-06-06 09:44] paula810 opened #709 "Integration Test"
Hello,

Can you please let me know which is your integration test with respect to interaction with cloud?

Thanks,
Pallavi

[2016-06-06 09:49] vinodborole commented on #709
[core-integration-test](https://github.com/ContainX/openstack4j/tree/master/core-integration-test)

[2016-06-06 12:00] olivergondza commented on #707
My attempt to fix the travis build while running against both versions of java: https://github.com/ContainX/openstack4j/pull/710

[2016-06-06 17:27] auhlig commented on #707
#710 looks very good to me.
As commented on the PR maybe we could use the fix for JDK1.7 for now and take care of 1.8 later.
So we could at least get a green build again.

As Betamax offers multiple ways to do find out the correct response to a request from a tape there might be a way to exclude the query parameters for now.
The other way would be, as already mentioned, to address the issue in Bet

[2016-06-06 17:39] vinodborole commented on #707
LGTM

[2016-06-06 21:46] gschukin commented on #706
I assume that this can be fixed using Expect: 100-continue.

[2016-06-06 21:48] gschukin commented on #706
[code]

[2016-06-07 02:33] wumingcheng opened #711 "server create bug"
Cannot create a server with "security_groups", because there is a bug about securityGroups of "**NovaServerCreate.java**"
please change the code
" @JsonProperty("security_groups")
  private List<**SecurityGroup**> securityGroups;"
to
"@JsonProperty("security_groups")
  private List<**NovaSecurityGroup**> securityGroups;"

[2016-06-07 07:06] vinodborole commented on #711
@wumingcheng I just tested it with following code and it works, here is the response

`        ServerCreate server = Builders.server().name("deleteme").flavor(flavor).networks(networks).image(imageId).addSecurityGroup(name).build();`
`Server s = client.compute().servers().boot(server);`

1 > POST http://10.193.82.103:8774/v2.1/a7bcb49a97784e49bbb09fe8b0f47ad1/servers
1 > Accept: application/json
1

[2016-06-07 07:35] wumingcheng commented on #711
@vinodborole The code
" @JsonProperty("security_groups")
private **List<SecurityGroup> securityGroups**;"
 cannot get the security_groups name ,because **SecurityGroup** is an **Interface**, it isn't has an attribute ："private String name", it cannot get the JSON
"security_groups" : [ {
    "name" : "XXX"
} ]

[2016-06-07 08:00] vinodborole commented on #711
@wumingcheng It uses the SecurityGroupInternal subclass; following is the code from NovaServerCreate.java

` @Override
    public void addSecurityGroup(String name) {
        if (securityGroups == null)
            securityGroups = Lists.newArrayList();
        securityGroups.add(new SecurityGroupInternal(name));
    }`

[2016-06-07 08:29] wumingcheng commented on #711
@vinodborole ok,thx

[2016-06-07 08:29] #711 closed

[2016-06-07 08:33] #698 closed

[2016-06-08 12:45] sjpatil commented on #701
I will soon send PR for this

[2016-06-08 13:57] #707 closed

[2016-06-10 06:29] westenb commented on #706
Hi,

using the 100-continue approach looks very interesting; but the coding above is connector specific (here HTTP connector), and cannot be easily enabled from the outside.

Following this approach, I guess the clean way would be add a kind of "expectContinueEnabled" setting to org.openstack4j.core.transport.Config and handle it in the respective connectors accordingly. What do you think?

Regard

[2016-06-10 17:28] gschukin commented on #706
@westenb afaik not all connectors support this. Okhttp has broken support since last year.

[2016-06-14 03:17] zeyuphoenix opened #716 "openstack host information???"
How should I get openstack host information, for example: the installation of openstack server IP, memory, CPU, etc.

host information is physical resources.

[2016-06-14 06:16] sjpatil commented on #716
Your use case is not very clear but to some extent you can get information related to hosts for cpus and memory through hypervisor APIs which you can use with admin access.

[2016-06-14 07:04] benxiaohai1212 opened #717 "openstack4j-3.0.0.jar get os error"
<dependency>
  <groupId>org.pacesys</groupId>
  <artifactId>openstack4j</artifactId>
  <version>3.0.0</version>
</dependency>
join pom.xml

OSClientV2 os = OSFactory.builderV2()
				.endpoint("http://xxxxxxxx:5000/v2.0/")
				.credentials("xxx@xxx.com", "1234.com")
				.tenantName("xxxxxx")
				.authenticate();

Exception in thread "main" ConnectionException{message=com.fasterxml.jackson.jaxrs.cfg

[2016-06-14 07:07] zeyuphoenix commented on #716
Thank you, I used the `os.compute().hypervisors().list() `to get a part of the host information, but not all

[2016-06-14 07:08] #716 closed

[2016-06-14 08:01] vinodborole commented on #717
@benxiaohai1212 there seems some conflicts with the jackson libraries that get downloaded with jersey2 in your local maven repos, please clean/update your project and check.

This implementation works fine for me.

[2016-06-14 15:56] sauravmndl opened #718 "Getting "java.lang.IllegalStateException: Already connected" every time"
I am using following openstack4j-2.0.9-withdeps.jar in my code and trying to make connection to OpenStack but getting "Already connected" error every time. Following is the exception trace

 java.lang.IllegalStateException: Already connected
    at sun.net.www.protocol.http.HttpURLConnection.setRequestProperty(HttpURLConnection.java:3014)
    at sun.net.www.protocol.https.HttpsURLConnectionImpl.se

[2016-06-15 09:15] gonzolino opened #719 "os.share().schedulerStats().pools() always returns empty list"
Listing manila back-end storage pools does not work.
The result of pools() and poolDetails() is always an empty list.

Debugging of the call unveiled that the URL path of the call is wrong.
Currently it is "/pools" but it should be "/scheduler-stats/pools".

IMHO This issue should be fixed in both the master and the maintenance branches.

[2016-06-16 09:25] thongam opened #722 "Error with osclient.compute().images.list() with identity endpoint v3 BUT is working fine with v2"
Environment: openstack4j 3.0.1-SNAPSHOT with OpenStack Mitaka 14.0 release

I have any issue when calling compute().images.list() with identity endpoint v3.
The same calling is working fine when using  identity endpoint v2.

Error shown as below:

Internal Server Error
ServerResponseException{message=Internal Server Error, status=500, status-code=INTERNAL_SERVER_ERROR}

Error from http call

"{"co

[2016-06-16 09:48] sumit74 commented on #722
@thongam: This seems as error from nova; please check if you can do the same from openstack CLI.

[2016-06-16 10:06] thongam commented on #722
From OpenStack CLI,  seems is working fine while issue command nova image-list  and result is showing.

WARNING: Command image-list is deprecated and will be removed after Nova 15.0.0 is released. Use python-glanceclient or openstackclient instead.
+--------------------------------------+---------------------------------+--------+--------+
| ID                                   | Name

[2016-06-16 13:31] sumit74 commented on #722
@thongam : its problem with the openstack behaviour; os4j consumes the API's exposed by openstack.and its behavior is same as curl that is why you see similar response

[2016-06-16 21:58] menihillel opened #723 "Reusing Openstack4J Infrastructure"
I'd like to leverage Openstack4J infra to access APIs of other projects. For example, TaaS, Neutron extension for Port binding, or anything else not covered by current implementation. Short of introducing a full fledged implementation, I'd like to leverage the goodness of encapsulation, authentication, REST infrastructure. Is this doable? What's the best way to go about this?

[2016-06-16 22:05] menihillel commented on #723
Edit title.

[2016-06-17 01:47] thongam commented on #722
Yes, hope the OpenStack team could resolve the issue as soon as possible. Or I may need to downgrade the OpenStack version to Liberty.

Thank you.

[2016-06-17 08:59] vinodborole commented on #723
https://github.com/gondor/openstack4j/blob/master/CONTRIBUTING.md

[2016-06-17 17:44] menihillel commented on #723
Aware of this. Does not help with the steep learning curve on how to add new APIs...

[2016-06-20 04:56] wildcherrycandy commented on #691
+1. I have the same problem.

[2016-06-20 05:48] wildcherrycandy commented on #691
I think i know what is it.
When u authenticate u have one endPoint.
After authentication successful u have another endPoint the same of "host_ip" in openstack.

[2016-06-20 06:12] wildcherrycandy commented on #691
In my case .withConfig(org.openstack4j.core.transport.Config.newConfig().withEndpointNATResolution("XXX.XXX.XXX.XX")) solved my problem.

[2016-06-20 07:09] wumingcheng opened #724 "token v3 error"
Ijust want to get token with userId,passwd and projectId, but I cannot get the tokenId through the response header,it hasn't the X-Subject-Token.

[2016-06-21 03:31] Cookie-Wang opened #725 "Openstack4j null"
i can use openstack v2 to get server list,but when i use v3 to get server list get error,and i can use rest api to  get server list.

Exception in thread "main" java.lang.NullPointerException
	at org.openstack4j.openstack.identity.internal.DefaultEndpointURLResolver.resolveV3(DefaultEndpointURLResolver.java:120)
	at org.openstack4j.openstack.identity.internal.DefaultEndpointURLResolver.findURLV3(D

[2016-06-21 03:36] Cookie-Wang opened #726 "Using the Same Client Between Threads in openstack4j 3.x"
how to  use os client get access in openstack4j 3.x?

[2016-06-21 06:30] vinodborole commented on #726
@Cookie-Wang  As the authenticated object is represented by a Token in the identity v3 world you should be able to use the getToken()method the OSClientV3 offers

[2016-06-21 13:06] Cookie-Wang opened #727 "Create Tenant error"
hi,i use openstack4j 3.0,to create tenant,but i not found the method :Builders.identityV2()

Tenant tenant = os.identity().tenants()
                  .create(Builders.identityV2().tenant()
                                .name("ABC Corp")
                                .description("ABC Corporation Tenant")
                                .build());

[2016-06-21 13:34] vinodborole commented on #727
@Cookie-Wang  Please use the perspective as Facing.ADMIN while getting the Osclient object

[2016-06-22 02:01] Cookie-Wang commented on #727
@vinodborole
hi,i don't konw how to code by you said.can you give some example code?
and when i use openstack4j-3.0 ,i use v2 identiy,but i can't get the token from the OSClientV2.

[2016-06-22 02:04] Cookie-Wang commented on #726
@vinodborole hi:
i want to use the same identity client between threads. is this ok?

[2016-06-22 07:09] Cookie-Wang commented on #727
@vinodborole i can't get the method:

Builders.identityV2()

like this:
Tenant tenant = os.identity().tenants().create(Builders.identityV2().tenant().name("MyNewTenant").build());

[2016-06-22 11:01] vinodborole commented on #727
@Cookie-Wang

        OSClientV2 os=null;
        os = OSFactory.builderV2().endpoint(ospModel.getAuthURL()).credentials(ospModel.getUsername(), ospModel.getPassword()).tenantId(ospModel.getTenantId()).useNonStrictSSLClient(ospModel.isSsl()).perspective(Facing.ADMIN).authenticate();

[2016-06-22 11:02] vinodborole commented on #726
I don't think there should be a problem as long as you are able to access them from threads

[2016-06-29 08:45] ustbxyls opened #731 "Where is the contentType in http headers?"
I send a request for getting network with openstack4j based on openstack4j-jersey2-2.11.
I saw contentType = application/json, in the HttpRequest class:
public class HttpRequest<R> {
	String endpoint;
	String path;
	Class<R> returnType;
	Object entity;
	**String contentType = ClientConstants.CONTENT_TYPE_JSON;**
	HttpMethod method = HttpMethod.GET;
.......
}
when I captured the http request, i did

[2016-06-29 21:08] juliccr commented on #706
Hi @westenb , this issue is present for OSClientV2 also? Or only for OSClientV3? Thanks.

[2016-06-29 21:18] menihillel opened #732 "Image upload to Glance takes very long time (10-15 min)"
In my case, I am uploading a file (170MB) on fast network. Through horizon it takes a second. Using API takes 10-15 min. I speculate it has to do with connector (resteasy or jersey) streaming/buffering.

[2016-06-30 01:18] junoyoon opened #733 "Support role assingment list API"
Current openstack4j API doesn't support role assignment list APIwhich let the client know who has which permission on a project.

Without this API, we should iterate all roles and users for a project to determine who have which roles in which project or domain.

* http://developer.openstack.org/api-ref-identity-v3.html#listRoleAssignments

To avoid too much consequent calls to keystone, the API sh

[2016-06-30 01:25] junoyoon opened #734 "Support extra field in project API."
Currently openstack's identityV3 api supports extra field on project and user.
The extra field can be sent to keystone with as top level json element and keystone send back the extra field as top level json element.

* For example, when calling project update API like followings.
[code]

Keystone sends back extra fields as the top level json element.
[code]

Currently openstack4j doesn't support e

[2016-06-30 06:39] westenb commented on #706
Hi @juliccr ,

as far as I understand, this issue is independent of the client version / openstack service, as this is part of the generic HTTP request/handling. The issue occurs whenever a request including a payload (InputStream) is done, and during the handling a re-authentication is occurring (e.g. due to token expiration).

I believe this was already introduced when solving #45 long time ago,

[2016-06-30 08:49] #552 closed

[2016-06-30 08:56] auhlig commented on #694
@gilbirenberg Is this issue still valid or can it be closed?

[2016-06-30 13:04] juliccr commented on #706
Ok, thank you so much, @westenb , I'll try it out then ;) .

Regards, Julián.

[2016-07-01 16:39] menihillel opened #735 "hypervisor missing fundemetal sinlge item retrival get() by id function."

[2016-07-02 14:41] #733 closed

[2016-07-02 14:41] #734 closed

[2016-07-02 14:45] #719 closed

[2016-07-03 13:49] wumingcheng opened #736 "ironic and cinderv2"
I want to get **ironic and cinderv2** service with os4j, please add  ironic and cinderv2 into **ServiceType.java,**thx.

[2016-07-05 14:13] juliccr opened #737 "Maven Dependency convergence failure"
Hi, when I run a **mvn install** using the [Maven enforcer plugin](http://maven.apache.org/enforcer/maven-enforcer-plugin/), it fails with a dependency error, as the
**org.glassfish.jersey.core:jersey-client** being used has two different versions.

[code]

I've solved it adding the latter dependency in my artifact and then excluding the older version of jersey-common, like this:

[code]

But I th

[2016-07-07 22:05] emjburns commented on #585
Any update on this?

[2016-07-08 08:15] jianke221 opened #741 "Exception in thread "main" AuthenticationException{message=Unauthorized, status=401}"
i,please help me,I'm new to openstack and face a question and i don't know how to solve it.

program as below

public class Openstack4J {
	public static void main(String agrs[]){
		String domainIdentifier = "821bc14bee664077897ab4f54f029106";
		OSClientV3 os = OSFactory.builderV3()
                .endpoint("http://192.168.252.1:5000/v3")
                .credentials("admin", "secret", Identifier.

[2016-07-08 08:28] auhlig commented on #741
.scopeToProject(Identifier.byId(domainIdentifier))

Simple typo: Scope to project by domain identifier?
You either want to use the projectId or scope to a domain.

[2016-07-08 08:28] liuxiwen opened #742 "os.identity().users().list() return empty list"
OSClientV3 os = OSFactory.builderV3()
				.endpoint("http://10.0.0.11:5000/v3")
				.credentials("admin", "openstack", Identifier.byId("default"))
				.scopeToProject(Identifier.byName("admin"), Identifier.byName("default"))
				.authenticate();
System.out.println(os.identity().users().list());

OpenStack: kilo
Java: 1.8
OpenStack4j: 3.0.0

[2016-07-08 08:31] auhlig commented on #742
You're sure you want `os.objectStorage().users().list()` instead of `os.identity().users().list()` ?

[2016-07-08 08:40] jianke221 commented on #741
if i use the projectid ,what should i do?   thank you    @auhlig

[2016-07-08 08:41] liuxiwen commented on #742
@auhlig my fault, it is os.identity().users().list()

[2016-07-08 08:55] auhlig commented on #741
Take a look at the examples in the 'Authenticating' section https://github.com/ContainX/openstack4j/blob/master/README.md

[2016-07-08 09:21] auhlig commented on #742
Okay.
Did you try other identity v3 functions? Are they successful?

Might be worth to enable debug log by ```OSFactory.enableHttpLoggingFilter(true);```

[2016-07-11 02:46] liuxiwen commented on #742
@auhlig
I set OSFactory.enableHttpLoggingFilter(true), it still returns a empty list, and when sending request it became http://controller:5000/v2.0/users, I userd v3.
七月 11, 2016 10:39:01 上午 org.glassfish.jersey.filter.LoggingFilter log
信息: 1 * Sending client request on thread main
1 > POST http://10.0.0.11:5000/v3/auth/tokens
1 > Accept: application/json
1 > Content-Type: application/json
1 > OS

[2016-07-11 05:44] boonseng3 opened #744 "Identity v2 change password will result in user being disabled"
I'm using version 3.0.1-SNAPSHOT, when i use v2 Identity to change password, the password is changed but the enabled field becomes false.

I' have check the request sent, the enabled field is always set to false.
There is no need to sent the enabled field in the request at all.
`{"
"user" : {
"id" : "f041b9115103453998f4ee8aabbb2b85",
"password" : "password1",
"enabled" : false
}`

[2016-07-11 06:07] jianke221 opened #745 "Unable to retrieve current session. Please verify thread has a current session available."
when i use openstack4j to upload a file to container by Multi thread,it failed my program as follows:
UploadTaskThread.java:

public class UploadTaskThread implements Runnable, Serializable {
	private static final long serialVersionUID = 5833214272850373920L;

	private OSClientV3 os;
	private String filename;

	public UploadTaskThread(OSClientV3 os,String filename){
		this.os = os;
		this.filename

[2016-07-11 06:11] gondor commented on #745
@auhlig With V3, does this guide still apply or should we add an alternate for V3? http://www.openstack4j.com/learn/threads/

[2016-07-11 06:26] jianke221 commented on #745
i use V3，but when i use   "Access access = os.getAccess();" it show "- The method getAccess() is undefined for the type
	 OSClient.OSClientV3
	- Access cannot be resolved to a type"  @gondor

[2016-07-11 06:50] vinodborole commented on #745
@jianke221 refer #676

[2016-07-11 07:02] vinodborole commented on #745
@jianke221 your new code will be like

public class UploadClient {
    public static void main(String[] args) {
        OSClientV3 os = OspSession.getClientV3(Client.MITAKA, Facing.PUBLIC);
       Token token= os.getToken();
        for(int i = 0;i<254;i++){
            String filename = String.valueOf(i)+".ts";
            UploadTask task = new UploadTask(os,filename,token);
            FixThread

[2016-07-11 07:34] jianke221 commented on #745
i have some question in follow program:
 public UploadTask(OSClientV3 os,String filename, Token token){
        this.filename = filename;
        os = OSFactory.clientFromToken(token);
    }

but you hava OSClientV3 os as Parameter the token is needed? @vinodborole

[2016-07-11 12:36] auhlig commented on #745
@gondor You're right. Need to refer to the token instead of access. I'll fix the guide during the afternoon.

@jianke221 As @vinodborole already pointed out: The Access object exists only within the Identity v2 domain. In v3 please use ```Token token = is.getToken()```

[2016-07-11 12:52] auhlig commented on #742
@liuxiwen. You're using the v3 endpoint in the authentication request. But the town's catalog does only contain the identity v2 endpoint. So there's no v3 available. You need to configure that beforehand

[2016-07-12 01:11] liuxiwen commented on #742
@auhlig Sorry, I don't know how to configure the town's catalog to make it contain the identity v3 endpoint, can you tell me how to do it specifically, thank you!
And I have another question, I changed the code into this:

OSFactory.enableHttpLoggingFilter(true);
Identifier domain = Identifier.byId("default");
Identifier project = Identifier.byName("admin");
OSClientV3 os = OSFactory.builderV3()
.

[2016-07-13 08:35] auhlig commented on #745
@jianke221: After updating the [docs](https://github.com/ContainX/openstack4j.com/pull/7/commits/d663ba6d1227461f023d918efc54b4a964fe415d) does this work for you?

[2016-07-13 08:36] auhlig commented on #741
@jianke221: Please close if this issue is no longer valid. Thank.

[2016-07-13 08:37] auhlig commented on #727
@Cookie-Wang Please close if this issue is no longer valid. Thanks.

[2016-07-13 08:37] auhlig commented on #726
@Cookie-Wang Please close if this issue is no longer valid. Thanks.

[2016-07-13 08:41] auhlig commented on #725
@Cookie-Wang: Looking at the token's catalog you only configured identity v2 but not v3, which you need to do beforehand.
Sorry for the very late response.

[2016-07-13 08:42] auhlig commented on #722
@thongam Please close if this issue is no longer valid. Thanks.

[2016-07-13 08:44] #709 closed

[2016-07-13 08:45] auhlig commented on #692
duplicate of #709

[2016-07-13 08:45] #692 closed

[2016-07-13 08:47] auhlig commented on #684
@L-I-O-N I guess after the PRs were merged this issue can be closed?

[2016-07-13 08:50] auhlig commented on #744
@boonseng3 You sure the user was enabled beforehand?

[2016-07-13 09:43] boonseng3 commented on #744
@auhlig Yes, the user was enabled beforehand.
The issue is that the json for changing password included the enabled field which defaulted to false.

[2016-07-13 11:41] L-I-O-N commented on #684
Yes

[2016-07-13 11:41] #684 closed

[2016-07-13 16:41] auhlig commented on #744
I can confirm this.
Looking at the [relevant code](https://github.com/ContainX/openstack4j/blob/master/core/src/main/java/org/openstack4j/openstack/identity/v2/internal/UserServiceImpl.java#L72-76) I'm wondering where the enabled comes from.
Explicitly setting this to true doesn't help.
I continue tomorrow on this.

[2016-07-14 01:18] liuxiwen opened #751 "v2: os.identity().tenants().list(), v3:os.identity().projects().list(), return a empty list"
v3's request changed into v2
e.g. GET http://controller:35357/v2.0/projects

@Test
public void testV2() {
	OSFactory.enableHttpLoggingFilter(true);
	OSClientV2 os = OSFactory.builderV2()
			.endpoint("http://10.0.0.11:5000/v2.0")
			.credentials("admin", "openstack")
			.tenantName("admin")
			.perspective(Facing.ADMIN)
			.authenticate();
	System.out.println(os.identity().tenants().list());
}

七月

[2016-07-14 01:58] boonseng3 commented on #744
Yup, setting it true doesn't help. Change password only requires id and password. Enabled is not required. I couldn't find out why it is included in the request while other fields are not included as the KeystoneUser has all the fields of a user.

[2016-07-14 08:01] auhlig commented on #751
Likely same root cause as in the other issue you raised? #742

[2016-07-14 08:29] liuxiwen commented on #751
@auhlig Basically the same question, but when I used the v2 identity, os.identity().tenants().list() still returned an empty list

[2016-07-18 01:40] dennischen opened #754 "Image service api throws exception when doing concurrent access"
Hi
When doing my project's large vm creation concurrently. I got this error.

	at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65) [rt.jar:1.7.0_55]
	at java.lang.Long.parseLong(Long.java:453) [rt.jar:1.7.0_55]
	at java.lang.Long.parseLong(Long.java:483) [rt.jar:1.7.0_55]
	at java.text.DigitList.getLong(DigitList.java:194) [rt.jar:1.7.0_55]
	at java.text.DecimalFormat.

[2016-07-22 09:15] auhlig commented on #744
@boonseng3 Should be fixed by #752.
You can check by getting the daily snapshot build or in the next stable release.

[2016-07-25 16:09] mikerott opened #756 "possible memory leak from openstack4j lib's use of ThreadLocal"
Tomcat issues this warning during server shutdown after I've used `OSClientSession` instance:

[code]

Suggest to offer a cleanup or shutdown method, or even better, implement something like `@PostDestroy` to clear all those ThreadLocals.

[2016-07-27 13:16] 2015E8007061068 opened #757 "Unable to copy object from one container to another"
the  code is as follow:
OSClient os = OSFactory.builder().endpoint("http://ip:port/v2.0").credentials("admin", "password")
            .tenantName("admin").authenticate();
ObjectLocation ol1 = ObjectLocation.create(containerName, copyFile);
    ObjectLocation ol2 = ObjectLocation.create(containerName, copyFile + "sdf");
os.objectStorage().objects().copy(ol1, ol2);

Error Message:

org.glassfish.je

[2016-07-28 02:01] 2015E8007061068 opened #758 "which openstack version is openstack4j 2.0.9 used"

[2016-07-28 03:13] #758 closed

[2016-07-28 09:01] liuxiwen opened #759 "How to user swift share the uploaded files?"
Now I can use swift to upload and download files, but I don't know how to share the files?
e.g. I created a container called demo-container1 and used the function accessAnybodyRead() to set the container into public. But how to use another user to download the files in demo-container1? And how to use the function accessRead() and accessWrite()?

[2016-07-28 09:27] liuxiaobingbj opened #760 "Unsupported major.minor version 52.0"
Caused by: java.lang.UnsupportedClassVersionError: org/openstack4j/api/exceptions/ClientResponseException : Unsupported major.minor version 52.0 (unable to load class org.openstack4j.api.exceptions.ClientResponseException)
	at org.apache.catalina.loader.WebappClassLoader.findClassInternal(WebappClassLoader.java:2961)
	at org.apache.catalina.loader.WebappClassLoader.findClass(WebappClassLoader.java

[2016-07-29 06:38] vinodborole commented on #760
@liuxiaobingbj Please check the java version you are using o4j needs 1.7

[2016-07-29 08:47] liuxiaobingbj commented on #760
Before I use is 1.7,   1.8 is not the problem,  but create a flavor is wrong. :
ClientResponseException{message=Invalid input for field/attribute flavor. Value: {u'name': u'1vCpu/1024GMemory/50GDisk', u'ram': 1024, u'OS-FLV-DISABLED:disabled': False, u'vcpus': 1, u'swap': 512, u'os-flavor-access:is_public': False, u'rxtx_factor': 1.2, u'OS-FLV-EXT-DATA:ephemeral': 0, u'disk': 50, u'public': False}

[2016-07-29 13:02] vinodborole commented on #760
@liuxiaobingbj  please look at #573

[2016-08-01 07:56] gf-chen40 opened #762 "Cinder: Missing a Feature of getting backend storage info"
Hi，
We are using openstack4j in our platform BUT I found missing a feature(interface) of getting a Cinder Volume backend storage informations .Especially our platform need to get total_capacity and free_capacity of a certain backend.

[See the openstack cinder restapi documentation](http://developer.openstack.org/api-ref-blockstorage-v2.html#listPools)
I got
**GET/v2/​{tenant_id}​/scheduler-stats/

[2016-08-01 08:05] gf-chen40 commented on #646
_List<? extends BackendStoragePool> pools = os().share().schedulerStats().pools();_
This is a manila interface, but @kushalagrawal need a cinder interface of get_pools.
#762 here I write the code and waiting for reply. After that you can use cinder get_pools interface.

[2016-08-01 12:20] vinodborole commented on #762
@gf-chen40 Yes please send a PR. Thanks again for your contribution :+1:

[2016-08-02 07:11] gf-chen40 commented on #762
One more question:
I compile the project failed in the master branch&3.0 release. I don't know why. So my code is written based on the 2.0-maintenance.
So should I PR to 2.0-maintenance or can you tell me why the master failed to compile~
Thanks~

[2016-08-02 07:40] gf-chen40 commented on #762
Oh, the master code seems good now.

[2016-08-02 17:31] daisymoon commented on #757
I'm using openstack 2.20, and identity v3:
[code]

I can't copy either, I'm trying to copy an image inside the same container.
I don't get any error but `client.objectStorage().objects().copy(ObjectLocation.create(bucketName, objectName), ObjectLocation.create(bucketName, newName));` returns null.

[2016-08-02 17:37] #744 closed

[2016-08-02 17:41] #741 closed

[2016-08-05 01:33] vvduke89 commented on #573
I have the same problem,Openstack:mitaka.Is there any solutions to solove this problem and tell me the reason? Thank you.

[2016-08-08 03:22] liuxiwen opened #766 "How to use swift share the uploaded files?"
Now I can use swift to upload and download files, but I don't know how to share the files to other users, like making the files into public or making the specific users to download it. Like dropbox or Baidu Yun.

[2016-08-09 00:51] liuxiwen opened #767 "How to use the Public url to gain access to objects in the Public container?"

[2016-08-09 11:57] gurumeditator opened #768 "Disabling Neutron Port Security"
I would like to create a port with port security disabled. When creating a port via command line I would create the port using:
[code]
Is it possible to perform the same with openstack4j?

[2016-08-09 13:06] eitanElmalam opened #769 "try to connect to openStack from webserver and get ClientResponseException{message=Target service not allowed, status=403, status-code=FORBIDDEN}"
we are try to connect from cloud java application to openstack environment and get error:
ClientResponseException{message=Target service not allowed, status=403, status-code=FORBIDDEN}
The code is :
OSClientV3 os = OSFactory.builderV3().endpoint(OPEN_STACK_URL)
				.credentials("admin", "devstack", domainIdentifier)
				.scopeToProject( projectIdentifier,domainIdentifier)

				.authenticate();

[2016-08-09 16:09] emjburns commented on #647
@vinodborole I'll implement this. We want to consume it as well :)

[2016-08-10 02:02] RayOsLei commented on #766
can you show how swift to upload and download files? I need coding please ,thanks

[2016-08-10 09:03] eitanElmalam opened #770 "<classifier>withdeps</classifier> cause conflict between jars"
I have maven project, with dependancy that load the openstack4j jar with dependency.
When I deploy my application war file I egt the error :

2016 08 10 08:44:20#+00#ERROR#org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/MonsoonScheduler]##anonymous#localhost-startStop-1#na#xedac3f1e#schedularos#web##Error configuring application listener of class scheduler.QuartzListenerjava.lang.L

[2016-08-10 09:49] vinodborole commented on #770
@eitanElmalam can you share you maven config?

[2016-08-10 09:53] eitanElmalam commented on #770
Attached the pom xml.

From: Vinod Borole [mailto:notifications@github.com]
Sent: Wednesday, August 10, 2016 12:50 PM
To: ContainX/openstack4j <openstack4j@noreply.github.com>
Cc: Elmalam, Eitan (external - Project) <eitan.elmalam@sap.com>; Mention <mention@noreply.github.com>
Subject: Re: [ContainX/openstack4j] <classifier>withdeps</classifier> cause conflict between jars (#770)

@eitanElmalam<ht

[2016-08-10 10:50] vinodborole commented on #760
@liuxiaobingbj  please close this if you are satisfied

[2016-08-10 11:01] vinodborole commented on #754
@gondor @auhlig any comments on this?

[2016-08-10 11:06] vinodborole commented on #737
@juliccr  i think u meant jersey-common here, yeah i think that is a valid suggestion

[2016-08-10 11:30] eitanElmalam commented on #770
Hello,

Which information you need ??
This is a maven project I sent you the pom.xml.
When I added the openstak4j -withdeps  , the war file not started , and I get the exception I sent you.
It's a tomcat server on cloud .
There is a conflict between slf4j classes, how can I resolved it ?

Thanks

From: Vinod Borole [mailto:notifications@github.com]
Sent: Wednesday, August 10, 2016 12:50 PM
To: Con

[2016-08-10 12:41] vinodborole commented on #768
@gurumeditator  no i don't think this property is there

https://github.com/ContainX/openstack4j/blob/b5ef298b6ffb89204518fd2936711e3919694ea3/core/src/main/java/org/openstack4j/model/network/builder/PortBuilder.java

[2016-08-10 12:43] vinodborole commented on #769
@eitanElmalam it seems the permissions are not enabled, check without scopeToProject

[2016-08-10 12:49] eitanElmalam commented on #769
I check with out scopeToProject get same error.

[2016-08-10 12:51] vinodborole commented on #769
can you check with V2 authentication?

[2016-08-10 12:52] vinodborole commented on #770
if your project already uses sl4j then you can exclude them; check maven exclude for more info

[2016-08-10 13:05] eitanElmalam commented on #769
I check with V2 same error.
Maybe is certificate issue or ssl certificate ??

[2016-08-10 13:07] eitanElmalam commented on #770
I did :
<dependency>
   <groupId>org.pacesys</groupId>
  <artifactId>openstack4j</artifactId>
  <version>3.0.0</version>
 <classifier>withdeps</classifier>
 <exclusions>
     <exclusion>
        <groupId>org.slf4j</groupId>
        <artifactId>slf4j-api</artifactId>
     </exclusion>
   </exclusions>

</dependency>

It's did not help ..

[2016-08-10 13:09] eitanElmalam commented on #770
I did :

//<dependency>
 //  <groupId>org.pacesys</groupId>
 // <artifactId>openstack4j</artifactId>
 // <version>3.0.0</version>
// <classifier>withdeps</classifier>
// <exclusions>
  //   <exclusion>
    //    <groupId>org.slf4j</groupId>
     //   <artifactId>slf4j-api</artifactId>
    // </exclusion>
  // </exclusions>

//</dependency>

[2016-08-10 13:11] eitanElmalam commented on #770
![untitled](https://cloud.githubusercontent.com/assets/20268444/17554725/fb98cbf8-5f14-11e6-877d-3de0eaad96e3.png)

[2016-08-11 01:34] RayOsLei opened #772 "How to authenticate openstack4j objecstore by v1.0?"
import org.openstack4j.api.OSClient;
import org.openstack4j.openstack.OSFactory;
public class Test {
public static void main(String[] args) {

OSClient<?> os = OSFactory.builder()
		            .endpoint("http://127.0.0.1:8080/auth/v1.0")
		            .credentials("tester", "testing")
		            .tenantName("test"
		            .authenticate();
System.out.println(os);

	}

}

[2016-08-11 01:48] RayOsLei commented on #462
hi ,LianaN
Your problem with me, you solve it?

[2016-08-11 06:21] vinodborole commented on #772
@RayOsLei checkout our documentation please
http://www.openstack4j.com/learn/objectstorage

[2016-08-11 07:15] victorcai0922 commented on #424
when boot instance from volume, there is an error "Block device xxxx is not bootable". but in openstack dashboard the volume is bootable.

[2016-08-11 07:17] victorcai0922 commented on #424
which api can query the volume is bootable

[2016-08-11 07:35] RayOsLei commented on #772
@vinodborole  I have checkouted it ,because my openstack swift bases on v1.0, I do not instal keystone,there are env:
export ST_USER=test:tester
export ST_KEY=testing
export ST_AUTH=http://127.0.0.1:8080/auth/v1.0
I just know how to access it by openstack4j, my question is like with http://stackoverflow.com/questions/35972849/is-swift-basic-authentication-not-supported-in-openstack4j ,could you so

[2016-08-11 07:46] vinodborole commented on #770
@eitanElmalam does ur maven xml contain only this, or there are any other dependencies?

[2016-08-11 07:48] eitanElmalam commented on #770
[pom.txt](https://github.com/ContainX/openstack4j/files/412720/pom.txt)

[2016-08-11 08:30] RayOsLei commented on #772
@vinodborole ,Is Swift basic Authentication not supported in OpenStack4j?​

[2016-08-11 08:32] vinodborole commented on #770
@eitanElmalam it looks like quartz and openstack4j use the same version of slf4j; can you not exclude from os4j and do it for quartz like this

            <dependency>
			<groupId>org.quartz-scheduler</groupId>
			<artifactId>quartz</artifactId>
			<version>2.2.1</version>
			<exclusions>
				<exclusion>
					<artifactId>slf4j-api</artifactId>
					<groupId>org.slf4j</groupId>
				</exclusion>

[2016-08-11 09:40] eitanElmalam commented on #770
yes, it"s solve it ..

[2016-08-11 09:42] RayOsLei commented on #772
@vinodborole #  Recently Active 'openstack-swift' Questions:Is Swift basic Authentication not supported in OpenStack4j,# I doubt that it is a bug in openstack4j that not support Swift basic Authentication.

[2016-08-11 11:09] eitanElmalam commented on #770
My mistake , I got the same error ...

[2016-08-11 12:48] vinodborole commented on #770
@eitanElmalam can u verify whether the slf4j jar is removed from quartz; you can check that in eclipse dependency hierarchy view if at all u are using eclipse

[2016-08-12 02:06] RayOsLei commented on #772
no one can answer me ,I feel sad @vinodborole @gondor @frsyuki @olivergondza @drerik

[2016-08-12 10:11] vinodborole commented on #772
@RayOsLei  I am very sorry; i don't think i am aware of this support in openstack4j; feel free to propose one and we can have a look.

[2016-08-12 10:14] RayOsLei commented on #772
@vinodborole  Look forward to your answer.

[2016-08-14 08:30] eitanElmalam commented on #769
Hello,

we are call with openstack4j from cloud environment so there a problem of security ..
The missing in your clode is :
we need to secure the protocol and the port ...
Can you add it to your code to support secure schems and port
SSLSocketFactory sslsf = null;
 		try {
 			sslsf = new SSLSocketFactory(new TrustStrategy() {

 			    public boolean isTrusted(
 			            final X509Certifica

[2016-08-14 11:16] #770 closed

[2016-08-15 09:12] lianghuang opened #775 "ERROR: character set error when query an image with glance api"
Hi, When I use openstack4j to query an image with glance api, I find out that there is some charset problem.
the specific query is something like below:
HEAD /v1/images/06641866-f5b6-40af-8e5b-a6fa1437b6a1 HTTP/1.1
Host: controller-1:9292
Accept: application/json
X-Auth-Token:  specific token
User-Agent: OpenStack4j / OpenStack Client
Cache-Control: no-cache`
the results showed like below:
`Connec

[2016-08-15 14:21] auhlig commented on #769
@eitanElmalam I guess it's easier if you do and test the change on your side and follow up with a PR.

[2016-08-16 08:26] vinodborole commented on #768
@gondor @auhlig  please review this fix

[2016-08-16 12:37] draoullig opened #776 "Identity v3 with scopeToProject(Identifier.byName(projectName))"
Hi,

When you use the method scopeToProject with just Identifier.byName(projectName), the identification fails.
If you use scopeToProject with Identifier.byName(projectName) and Identifier.byName(domainName), the identification is good.
By comparing the methods ScopeProject create... from the class  openstack4j/core/src/main/java/org/openstack4j/openstack/identity/v3/domain/KeystoneAuth.java, it s

[2016-08-16 20:44] auhlig commented on #776
Hi @draoullig,

Scoping to a project just by name isn't possible as the project name is only unique within a domain.
You can either use the
[code]
as the id of the project is unique across domains or alternatively
[code]
a combination of project name and domain.

Although I admit the code you found looks suspicious the test and the recorded client-openstack interactions looks good.

[2016-08-17 06:57] draoullig commented on #776
Hi,

Thanks for the explanation, now I understand the implementation.

Bests regards.

Frederic.

2016-08-16 22:44 GMT+02:00 Arno Uhlig <notifications@github.com>:

[2016-08-17 07:04] eitanElmalam commented on #769
Hi,

Ok no problem , but how I do it ? I see your sources in the git , I do not know how to bring it to eclipse.
Can you help me ?? please explain how I imlement the change.

[2016-08-17 07:29] #776 closed

[2016-08-17 07:38] eitanElmalam commented on #769
I bring it to eclipse I got a few error like
Description	Resource	Path	Location	Type
Project 'it-httpclient' is missing required Java project: 'openstack4j-core-integration-test'	it-httpclient		Build path	Build Path Problem
The project cannot be built until build path errors are resolved	it-httpclient		Unknown	Java Problem
Description	Resource	Path	Location	Type
Plugin execution not covered by lif

[2016-08-18 06:39] eitanElmalam commented on #769
I investigate the code , I do not know how to add the change , please help it is urgent.

[2016-08-18 07:49] vinodborole commented on #769
@eitanElmalam  please try this approach
[TestConfigAuthenticate.txt](https://github.com/ContainX/openstack4j/files/424366/TestConfigAuthenticate.txt)

[2016-08-18 08:18] aanikeev opened #778 "Block device is not being deleted by default"
Hi!

I am working on Openstack-Jenkins implementation for our company, and I've faced an issue with [this](https://github.com/monkeylittleinc/openstack-cloud-plugin) plugin, which uses openstackforj-core. The issue is that option [delete_on_terminate](http://developer.openstack.org/api-ref-compute-v2.1.html) is not being set in plugin in any way, so it creates volumes that are not being removed on

[2016-08-18 08:53] sudself opened #779 "StableServiceVersionResolver:resolveV2&resolveV3"
when get stable service version, if has more then two versions, three for exapmle,   services.getfirst() will  return v1 rather then v2

[2016-08-18 08:56] sudself commented on #779
in mitaka,  cinder has three version   v1  v2 v3   ,if i what to get a stable  version  it will retrun v1 rather then v2

[2016-08-18 09:03] vinodborole commented on #779
@sudself  please use LatestServiceVersionResolver.resoveV2 & resolveV3

[2016-08-18 09:18] sudself commented on #779
as services is ordered,how about get  second last then first

[2016-08-18 10:18] eitanElmalam commented on #769
I try, it did not help.
The Aoutentication need to be on the HttpClient not sslContext.

[2016-08-18 10:54] vinodborole commented on #779
@sudself  please go thru #390 you can add your own resolver if you like

[2016-08-19 01:32] sudself commented on #390
` @Override
    public Service resolveV3(ServiceType type, SortedSet<? extends Service> services) {
        Service service = services.first();
        int service_count = services.size();
        /**stable version get last second**/
        if(service_count>1){
            int index = 1;
            for(Service s:services){
                if(index == (service_count-1)){
                    servi

[2016-08-19 01:33] sudself commented on #390
`` @Override
    public Service resolveV3(ServiceType type, SortedSet<? extends Service> services) {
        Service service = services.first();
        int service_count = services.size();
        /**stable version get last second**/
        if(service_count>1){
            int index = 1;
            for(Service s:services){
                if(index == (service_count-1)){
                    serv

[2016-08-19 03:31] liuxiaobingbj opened #780 "get network list is connection time out."
ConnectionException{message=java.net.ConnectException: Connection timed out: connect, status=0}
	at org.openstack4j.connectors.jersey2.HttpExecutorServiceImpl.invoke(HttpExecutorServiceImpl.java:58)
	at org.openstack4j.connectors.jersey2.HttpExecutorServiceImpl.execute(HttpExecutorServiceImpl.java:33)
	at org.openstack4j.core.transport.internal.HttpExecutor.execute(HttpExecutor.java:51)
	at org.op

[2016-08-19 04:58] liuxiaobingbj commented on #780
In addition to other methods for get OS, at the wrong.

[2016-08-22 08:53] vinodborole commented on #133
@adisan82 closing this for now, please reopen it if the issue persist

[2016-08-22 08:53] #133 closed

[2016-08-22 08:54] vinodborole commented on #194
@chechuironman closing this for now, please reopen it if the issue persist

[2016-08-22 08:54] #194 closed

[2016-08-22 09:05] vinodborole commented on #197
@benxiaohai1212 closing this for now, please reopen it if the issue persist

[2016-08-22 09:05] #197 closed

[2016-08-22 09:10] vinodborole commented on #228
@frank-zera closing this for now, please reopen it if the issue persist

[2016-08-22 09:10] #228 closed

[2016-08-22 09:15] vinodborole commented on #302
@vishvesh closing this issue for now, please reopen this if you think its still an issue.

[2016-08-22 09:15] #302 closed

[2016-08-22 09:16] vinodborole commented on #303
@houyu533 closing this issue for now, please reopen this if you think its still an issue.

[2016-08-22 09:16] #303 closed

[2016-08-22 09:17] vinodborole commented on #304
@dreadbird closing this issue for now, please reopen this if you think its still an issue.

[2016-08-22 09:17] #304 closed

[2016-08-22 09:18] vinodborole commented on #305
@Shaileshwar551  please close this if its not an issue anymore.

[2016-08-22 09:20] vinodborole commented on #324
@AkBao  please close this if you are satisfied with the answer.

[2016-08-22 09:21] vinodborole commented on #338
@DurdenP  please close this if its not an issue anymore

[2016-08-22 09:23] vinodborole commented on #339
@n-r-anderson closing this issue for now, please reopen it if you feel its still an issue

[2016-08-22 09:23] #339 closed

[2016-08-22 09:23] vinodborole commented on #371
@tealover closing this issue for now, please reopen it if you feel its still an issue

[2016-08-22 09:23] #371 closed

[2016-08-22 09:24] vinodborole commented on #374
closing this as its supported now.

[2016-08-22 09:24] #374 closed

[2016-08-22 09:24] #377 closed

[2016-08-22 09:25] vinodborole commented on #378
@piyush82 closing this issue for now, please reopen it if you feel its still an issue

[2016-08-22 09:25] #378 closed

[2016-08-22 09:56] #383 closed

[2016-08-22 09:57] vinodborole commented on #384
closing this issue for now, please reopen it if you feel its still an issue

[2016-08-22 09:57] #384 closed

[2016-08-22 10:39] #453 closed

[2016-08-22 10:52] vinodborole commented on #400
closing this as the fix is added

[2016-08-22 10:52] #400 closed

[2016-08-22 10:54] vinodborole commented on #405
@mathews  is this still an issue, if not please close this

[2016-08-22 10:56] vinodborole commented on #408
enhancement has been added in #390 hence closing this issue for now

[2016-08-22 10:56] #408 closed

[2016-08-22 11:29] vinodborole commented on #419
Is this still an issue? if not please close

[2016-08-22 11:30] vinodborole commented on #421
@mqh123456  closing this issue for now, please reopen if the issue still exists

[2016-08-22 11:30] #421 closed

[2016-08-22 11:38] vinodborole commented on #435
fixed in #436

[2016-08-22 11:38] #435 closed

[2016-08-22 11:40] vinodborole commented on #442
please reopen if this issue still exists

[2016-08-22 11:40] #442 closed

[2016-08-22 11:42] vinodborole commented on #443
@dcolcott76  please close this issue if u are satisfied with the answer

[2016-08-22 11:42] vinodborole commented on #449
@riscopenstack closing this for now, please reopen if this issue still exists

[2016-08-22 11:42] #449 closed

[2016-08-22 11:43] vinodborole commented on #452
@iviireczech closing this for now

[2016-08-22 11:43] #452 closed

[2016-08-22 11:44] vinodborole commented on #456
@krishnaprasad-narayanan please reopen if this issue still exists

[2016-08-22 11:44] #456 closed

[2016-08-22 11:47] vinodborole commented on #465
@elenamarkoska please reopen if this issue still exists for u

[2016-08-22 11:47] #465 closed

[2016-08-22 11:49] vinodborole commented on #477
@markleecom please reopen if this issue still exists for u

[2016-08-22 11:49] #477 closed

[2016-08-22 11:49] vinodborole commented on #478
@rski please reopen if this issue still exists for u

[2016-08-22 11:49] #478 closed

[2016-08-22 11:50] vinodborole commented on #512
@sjpatil please reopen if this issue still exists for u

[2016-08-22 11:50] #512 closed

[2016-08-22 11:53] vinodborole commented on #482
@wwwwxiaoxiu please reopen if this issue still exists

[2016-08-22 11:53] #482 closed

[2016-08-22 11:54] vinodborole commented on #484
@yingwail plesae reopen if this issue still exists for u

[2016-08-22 11:54] #484 closed

[2016-08-22 11:56] vinodborole commented on #509
use the createAndUpdateExtraSpecs() methon on flavorService

[2016-08-22 11:56] #509 closed

[2016-08-22 11:57] vinodborole commented on #510
@lelea2 please reopen if this issue still exists

[2016-08-22 11:57] #510 closed

[2016-08-22 11:58] vinodborole commented on #513
@rski thnx if this worked for u please go ahead and close this issue

[2016-08-22 11:59] vinodborole commented on #514
@yingwail please reopen if this issue still exists

[2016-08-22 11:59] #514 closed

[2016-08-22 12:02] vinodborole commented on #519
@kareez please reopen if this issue still exists, v3 branch has been merged to master now.

[2016-08-22 12:02] #519 closed

[2016-08-22 12:03] vinodborole commented on #520
please reopen if this issue still exists for anyone else

[2016-08-22 12:03] #520 closed

[2016-08-22 12:06] vinodborole commented on #523
this is there in latest release

[2016-08-22 12:06] #523 closed

[2016-08-22 12:07] #526 closed

[2016-08-22 12:21] vinodborole commented on #634
v3 implementation is part of the latest release now, hence closing this issue

[2016-08-22 12:21] #634 closed

[2016-08-22 12:21] #633 closed

[2016-08-22 12:22] vinodborole commented on #628
@ahmetkarakaya please reopen if this issue still exists for u

[2016-08-22 12:22] #628 closed

[2016-08-22 12:24] #586 closed

[2016-08-22 12:25] #585 closed

[2016-08-22 12:26] vinodborole commented on #578
@koztom please reopen if this issue still exists for u

[2016-08-22 12:26] #578 closed

[2016-08-22 12:30] vinodborole commented on #573
merged

[2016-08-22 12:30] #573 closed

[2016-08-22 12:33] #567 closed

[2016-08-22 12:35] vinodborole commented on #557
@Ocelot92 please reopen if this issues still exists for u

[2016-08-22 12:35] #557 closed

[2016-08-22 12:38] vinodborole commented on #542
@erivni please reopen if this issue still exists for u

[2016-08-22 12:38] #542 closed

[2016-08-22 12:41] vinodborole commented on #725
@Cookie-Wang please close this issue if u are satisfied with the answer

[2016-08-22 12:42] #723 closed

[2016-08-22 12:43] #722 closed

[2016-08-22 12:43] vinodborole commented on #722
@thongam closing for now, please reopen if required

[2016-08-22 12:44] vinodborole commented on #717
@benxiaohai1212 please reopen if this issue still exists for u

[2016-08-22 12:44] #717 closed

[2016-08-22 12:46] vinodborole commented on #706
@westenb closing this for now, please reopen if this issue is related to o4j

[2016-08-22 12:46] #706 closed

[2016-08-22 12:46] #701 closed

[2016-08-22 12:46] vinodborole commented on #699
it does now

[2016-08-22 12:46] #699 closed

[2016-08-22 12:49] vinodborole commented on #694
@gilbirenberg please reopen if this issue is valid still

[2016-08-22 12:49] #694 closed

[2016-08-22 13:04] vinodborole commented on #691
@sendaun please reopen if this issue still exists for u

[2016-08-22 13:04] #691 closed

[2016-08-22 13:04] vinodborole commented on #682
merged

[2016-08-22 13:04] #682 closed

[2016-08-22 13:07] vinodborole commented on #672
merged

[2016-08-22 13:07] #672 closed

[2016-08-22 13:07] vinodborole commented on #665
@huytt1992 closing this for now, please reopen if it still exists

[2016-08-22 13:07] #665 closed

[2016-08-22 13:08] vinodborole commented on #654
merged

[2016-08-22 13:08] #654 closed

[2016-08-22 13:08] vinodborole commented on #652
@guluglu please reopen if its still valid for u

[2016-08-22 13:08] #652 closed

[2016-08-22 13:12] vinodborole commented on #641
v3 is in the latest release now

[2016-08-22 13:12] #641 closed

[2016-08-22 13:14] vinodborole commented on #736
#481

[2016-08-22 21:39] vishvesh commented on #302
@vinodborole : Sure.. :+1:

[2016-08-23 01:16] #780 closed

[2016-08-23 11:50] auhlig commented on #769
Hey @eitanElmalam,
If the solution discussed via IM worked please close the issue.
Else feel free to reach out to me.

[2016-08-24 11:24] eitanElmalam commented on #769
Hi,

I did the fix and it solve the issue .
---------------------------------------------------------------------------
The fix in file - HttpClienFactory:
 private CloseableHttpClient buildClient(Config config) {
        HttpClientBuilder cb = HttpClientBuilder.create().setUserAgent(USER_AGENT);

        SSLSocketFactory sslsf = null;
 		try {
 			sslsf = new SSLSocketFactory(new TrustStrategy()

[2016-08-24 11:48] #769 closed

[2016-08-25 08:47] iamanikeev commented on #778
I've tried both ways, and it was found that this option actually takes no effect. So I end up just by adding image removal to the plugin method, that terminates instance.

[2016-08-26 00:00] vishvesh opened #786 "Support for Tacker - NFV Orchestration - Version 1.0 Implementation"
#### Tacker - NFV Orchestration - Version 1.0 Implementation

I have created the below Pull Request in order to track `Tacker` Related Implementation
* `Tacker Initial Implementation PR`: https://github.com/ContainX/openstack4j/pull/785

[2016-08-26 21:23] vishvesh opened #787 "Support for VPNaaS - Version 2.0"
Hello Community,

Has anyone started working on `VPN As A Service - VPNaaS` Implementation yet? I do not see the support in `OS4J`..

`Link to the Docs:` http://developer.openstack.org/api-ref/networking/v2/#vpnaas-2-0-current-vpn-vpnservices-ikepolicies-ipsecpolicies-endpoint-groups-ipsec-site-connections

If there has been any implementation, please share the the `progress status`..

I will star

[2016-08-29 06:49] liucj111926 opened #788 "oSClientV2 .identity().users().list() oSClientV2 .identity().tenants().list() return empty list"
OSClientV2 oSClientV2 = OSFactory.builderV2()
                .endpoint("http://10.0.0.11:35357/v2.0")
                .credentials("admin", "openstack")
                .tenantName("admin")
                .authenticate();

oSClientV2 .identity().users().list() oSClientV2 .identity().tenants().list()  return empty list

[2016-08-30 02:03] liucj111926 opened #790 "server list details so slow"
I want to get cloud server list details,use get(Servers.class, "/servers/detail") Response speed too slow

[2016-08-31 07:11] liuxiwen commented on #788
oSClientV2.perspective(Facing.ADMIN).identity().users().list()
do like this, you can print result

[2016-08-31 14:57] AMontanana opened #792 "404 - Path /org/pacesys/openstack4j/3.0.2-SNAPSHOT/ not found"
I'm trying to download the 3.0.1-withdeps jar file from the Getting Started page:
http://www.openstack4j.com/learn/getting-started

but get a 404 error when I click on the button:
404 - Path /org/pacesys/openstack4j/3.0.2-SNAPSHOT/ not found in local storage of repository "Snapshots" [id=snapshots]
Path /org/pacesys/openstack4j/3.0.2-SNAPSHOT/ not found in local storage of repository "Snapshots" [

[2016-09-01 03:52] liucj111926 commented on #788
@liuxiwen thanks a lot,I try to get the user list was successful but get the tenant list return empty

[2016-09-01 08:19] vinodborole commented on #792
@AMontanana it works for me, please try again

[2016-09-01 08:24] vinodborole commented on #788
Likely same root cause as in the other issue you raised? #742

[2016-09-01 08:30] liucj111926 commented on #788
@vinodborole That issue is not me

[2016-09-01 09:13] easyit commented on #742
Any update? I face the same issue.

[2016-09-01 16:57] auhlig commented on #742
@easyit The last update was that it's not a fault found in os4j but in the OpenStack instance itself. You can see that there's no identity v3 service in the catalog posted above.
To be able to use it you need to configure OpenStack properly.
But I guess that's rather something fore stackoverflow than for a bug issue.

[2016-09-01 16:57] #742 closed

[2016-09-02 01:58] zizhongwei opened #794 "can not build the identity v2 User with Builders.user()"
Can not build the identity v2 User with Builders.user()
Builders.user()  only  return the identity v3 KeystoneUser.builder() :
![image](https://cloud.githubusercontent.com/assets/12456254/18190182/45080d86-70f3-11e6-8270-519f5a8c3ef6.png)
How to build the identity v2 User?

[2016-09-02 02:00] #794 closed

[2016-09-02 02:00] zizhongwei commented on #794
use Builders.identityV2().user()

[2016-09-02 13:47] Francesko90 opened #795 "Failed to get console log"

[2016-09-02 18:12] auhlig commented on #792
@AMontanana I guess you want to grab either 3.0.**3**-SNAPSHOT or the latest stable 3.0.**2**.

[2016-09-06 01:21] zizhongwei opened #796 "KeystoneRole in Identity V3 lacked the "domain_id" property"
KeystoneRole in Identity V3 lacked the "domain_id" property：
![image](https://cloud.githubusercontent.com/assets/12456254/18259056/8fbe2b36-7412-11e6-9bdd-302b0ae215c1.png)
"domain_id" property in the OpenStack API：
![image](https://cloud.githubusercontent.com/assets/12456254/18259081/c0221486-7412-11e6-9071-d4400ef9e364.png)

[2016-09-06 09:34] zizhongwei opened #797 "UserService in Identity V3 lacked the "changePassword" method"
UserService in Identity V3 lacked the "changePassword" method:
![image](https://cloud.githubusercontent.com/assets/12456254/18268788/e511e402-7457-11e6-9318-9d6291a8f39a.png)
"changePassword" method  in the OpenStack API：
![image](https://cloud.githubusercontent.com/assets/12456254/18268827/157f48e6-7458-11e6-96da-f6a3df808440.png)

[2016-09-06 10:56] auhlig commented on #796
Just had a look at the test an saw that this attribute wasn't included at the time I wrote os4j's Identity V3 implementation.
Unless you want to submit the enhancement I could do it during the week

[2016-09-06 11:04] auhlig commented on #797
I don't remember this was part of the initial id v3 api where you could change the user's password by using the update(User) method.
Do you want to submit this enhancement or should I take care during the week?

[2016-09-07 21:09] olivierlemasle commented on #313
Hi @gondor,

Is there any new plan for this "Trusts" feature? I am under the impression that the work done by @peter-nordquist in #310 has been removed since OpenStack4j 3, am I right?

[2016-09-08 00:01] zizhongwei commented on #797
I want to submit this enhancement, 3ks.

[2016-09-08 00:01] zizhongwei commented on #796
I want to submit this enhancement, 3ks.

[2016-09-09 14:32] auhlig commented on #313
@olivierlemasle I remember some errors with trusts while working on identity v3 so I removed it. That was right before the 3.0 release.
Maybe it's not that much work to bring the support back. Are you familiar with trusts and like to take over?

[2016-09-10 03:30] liucj111926 commented on #788
@liuxiwen @vinodborole use 3.0.2version there is no problem

[2016-09-10 03:30] #788 closed

[2016-09-12 07:09] whaon opened #802 "OSClientV3 does not contain the data of x-openstack-request-id"
hi:
I cant get the x-openstack-request-id from  I authenticate

[2016-09-13 13:12] auhlig commented on #796
Closing this as enhancement has been done in #800

[2016-09-13 13:12] #796 closed

[2016-09-13 13:13] auhlig commented on #797
#803 has been merged. Closing.

[2016-09-13 13:13] #797 closed

[2016-09-13 15:42] porunov opened #808 "Can OpenStack4j stream a file without keeping an entire file in the RAM or on the disk?"
Hello,

I need to store very large files in the OpenStack Swift through the Java server.
The problem is that I don't need to store big files localy on the Java server. I don't need them there. So, Java server has to act like a pipe. It has to accept an input stream from the client and create an output stream to the OpenStack Swift Proxy after that it has to read small parts of data from the input

[2016-09-14 07:38] eveknow opened #809 "Can't create flavor with isPublic attribute in version 3.0.2"
In version 3.0.2.

I can't create new flavor with is Public param.
File FlavorService.class in org.openstack4j.api.compute:
Flavor create(String name, int ram, int vcpus, int disk, int ephemeral, int swap, float rxtxFactor);

There no api to call create flavor with isPublic param.

Thanks all.

[2016-09-14 12:55] auhlig commented on #809
@eveknow Right. I saw the isPublic-attribute in the Flavor. But it's missing in the method above and in the respective builder interface. Should be easy to fix.
Would you like to contribute and enhance os4j?

Feel free to reach out in case you need help.

[2016-09-14 13:00] auhlig commented on #802
That's correct. It's currently not extracted from the header.

If you have a use-case for this you might want to contribute?

[2016-09-14 13:02] auhlig commented on #792
@AMontanana I assume it's no longer valid? Closing this.

[2016-09-14 13:02] #792 closed

[2016-09-14 13:04] auhlig commented on #762
@gf-chen40 I guess the feature has been implemented and we can close the issue, right?

[2016-09-14 13:09] auhlig commented on #787
I'm not aware of anyone working on it. Do you @gondor, @vinodborole ?

Looking forward for your PR @vishvesh .

[2016-09-14 15:05] biogerm commented on #809
@auhlig @eveknow I am working on a PR related to Flavor, I will include this.

[2016-09-14 15:10] biogerm commented on #808
We use input stream to get the source and upload it as payload. However this is cinder I am talking about. In our case we don't need to save the file either on file or ram, but it seems JVM will consume more memory than normal, but not as much as the image size. I didn't look very deep how the performance is though. Just a thought might good for you to try.

[2016-09-14 20:41] vishvesh commented on #787
@auhlig : Alright.. I haven't started yet.. Will create a PR and keep adding to it once I start implementing..

[2016-09-15 02:42] ScottMaclure opened #811 "Listing projects with OSClientV3 resolves to "/v2.0/projects" GET request"
As per the docs here:
http://www.openstack4j.com/learn/identity/identity-v3/#projects

Using OSClientV3 (scoped to domain):
[code]

Debugging now, but have confirmed this locally with v3.0.2.

If I change the endpoint in the debugger to "v3/projects", I get back a project list. Otherwise, an empty collection is returned.

Will update when I dig further.

Edit1: KeystoneEndpoints configured for v3

[2016-09-15 03:06] eveknow commented on #809
@auhlig
Thanks for your reply. I like to contribute whenever i'm free.

[2016-09-15 08:55] porunov opened #812 "Is it possible to use openstack4j with tempauth?"
Hello,
I need to use openstack swift with tempauth. Is it possible to configure tempauth authentication with openstack4j?
Sincerely,
Alexandr

[2016-09-15 08:58] auhlig commented on #811
I guess the error's cause can be found in the token catalog. Can you check you configured identity v3 properly and the endpoint, found in the catalog, is correct and ending with /v3 ?

[2016-09-15 09:00] auhlig commented on #809
Cool. @eveknow Maybe worth syncing with @biogerm to avoid work duplication.

[2016-09-15 09:10] biogerm commented on #809
@eveknow please wait a bit. Let's see if my new PR solves your problem. It should come today.

[2016-09-16 00:38] ScottMaclure commented on #811
For configuration, currently I do:

[code]

Can see the endpoint with v3 and the catalog with v2:

![demo-v2-v3](https://cloud.githubusercontent.com/assets/962320/18571918/9cf0c7c0-7bf9-11e6-969d-3525a1e6315a.png)

Am I missing a configuration step somewhere?

[2016-09-16 07:04] auhlig commented on #811
Short: That screenshot confirms my suspicion. You only have one keystone available in the catalog which points to the wrong keystone v2 endpoints. You have to configure the OpenStack instance properly and setup a Keystone V3 service. But that is more about OpenStack itself than it is for OpenStack4j.

[2016-09-16 07:05] auhlig commented on #809
https://github.com/ContainX/openstack4j/pull/813

[2016-09-16 16:23] zlozano opened #815 "Cannot retrieve metadata"
The following code references MetadataToHeaderFunction.java:

   `@Override
    public Map<String, String> apply(Map<String, String> metadata) {

[code]

The lowercase version of the key is being sent in the request.  This means when I make the following request:

`
Map<String, String> metadata = new HashMap<>();
metadata.put("myMetadataKey", "foobar");
service.objects().updateMetadata(ObjectLocat

[2016-09-16 16:25] zlozano opened #816 "Cannot retrieve metadata"
`
    @Override
    public Map<String, String> apply(Map<String, String> metadata) {

        Map<String, String> headers = Maps.newHashMap();

        for (String key : metadata.keySet()) {
            String keyLower = key.toLowerCase();
            String value = metadata.get(key);
            if (keyLower.startsWith(prefix.toLowerCase()))
                headers.put(keyLower, value);

[2016-09-17 21:51] auhlig commented on #816
closing this duplicate of #815

[2016-09-17 21:51] #816 closed

[2016-09-18 09:30] auhlig commented on #745
Closing this as documentation has been updated.

[2016-09-18 09:30] #745 closed

[2016-09-18 09:30] #762 closed

[2016-09-18 22:22] ScottMaclure commented on #811
Thanks - I will chase it up with the vendor - I will close the issue for now, and re-open if needed.

[2016-09-18 22:22] #811 closed

[2016-09-20 02:45] wumingcheng commented on #416
I also have found this problem when firewallUpdate, the policyId will generate ‘policy’ json

[2016-09-20 02:55] whaon opened #817 "Class AuthIdentity doesnot implements the Serializable interface"
when I use ehcache to cache the Token,the following Exception occured
[code]

[2016-09-20 03:08] zizhongwei opened #818 "NovaFlavor have a wrong get : Boolean isPublic()"
NovaFlavor have a wrong get : Boolean isPublic()
when the NovaFlavor object convert to JSON ,the JSON text have a  unexpected  property  'public' ,like this :
![image](https://cloud.githubusercontent.com/assets/12456254/18656595/086dcefc-7f25-11e6-96dd-331e8b676f68.png)

so the create API retunt BAD_REQUEST :
![image](https://cloud.githubusercontent.com/assets/12456254/18656483/ffe6947c-7f23-11e6-

[2016-09-20 03:39] zizhongwei commented on #818
I will fix this during the week

[2016-09-20 11:43] auhlig commented on #790
Likely not an issue caused by the implementation. Else you're welcome to contribute. @liucj111926

[2016-09-20 11:43] #790 closed

[2016-09-20 11:44] #751 closed

[2016-09-20 16:22] vinay3590v opened #822 "ConnectionException{message=peer not authenticated, status=0} with Self Signed Certificate in openstack4j 3.0.2"
I'm using below code to perform authentication with openstack which has self signed certificate, but getting peer not authentication error with below stack trace in openstack4j 3.0.2, Where as in 2.20 version it worked fine..

Any workaround would be highly appreciated as i'm on some tight deadline..

Config config = Config.DEFAULT.withSSLVerificationDisabled();
		OSClientV2 os = OSFactory.builder

[2016-09-21 03:00] huifan commented on #822
I also met this problem....

[2016-09-21 03:06] Cherry522 commented on #606
We also encountered this problem, how do you solve the problem?

[2016-09-21 03:12] Cherry522 opened #823 "cannot create HostAggregate"
I cannot create new HostAggregate.......

openstack version M.
openstack4j version 3.0.2

my code:
HostAggregate hostAggregate = osClient.compute().hostAggregates()
                                                    .create(name,availabilityZone);

Getting the following error:
10:57:26.177 [main] DEBUG org.apache.http.headers - >> POST /v2.1/os-aggregates HTTP/1.1
10:57:26.177 [main] DEBUG org.ap

[2016-09-21 06:37] vinodborole commented on #606
@Cherry522 Can you try the latest version, this should not be the case as the create method takes only two parameters name and zone

https://github.com/ContainX/openstack4j/blob/f93d64caeba993aa401681e03ac3e802b7c0af33/core/src/main/java/org/openstack4j/openstack/compute/domain/NovaHostAggregate.java

[2016-09-21 06:52] Cherry522 commented on #606
I use the version is 3.0.2, is the latest release version. I did run into this problem.Could you create  'HostAggregate' successfully?

[2016-09-21 06:59] vinodborole commented on #822
@tovinayv  you might want to use withSSLContext method of config. NOTE: withSSLVerificationDisabled property used to be known as "useNonStrictSSL" in previous releases

[2016-09-21 07:04] vinodborole commented on #606
Is it possible for you to try 3.0.3-SNAPSHOT quickly?

[2016-09-21 07:37] huifan commented on #822
@vinodborole  OSClientV3 osc3 = OSFactory.builderV3()
				.endpoint("https://xxx/identity/v2.0/")
				.withConfig(Config.newConfig().withSSLVerificationDisabled())
				.credentials("xxx", "xxx")
				.authenticate();

		OSClientV3 osc3 = OSFactory.builderV3()
				.endpoint("https://xxx/identity/v2.0/")
				.withConfig(Config.newConfig().withSSLContext(UntrustedSSL.getSSLContext()))
				.credentials

[2016-09-21 07:43] Cherry522 commented on #606
I just tested the 3.0.3-SNAPSHOT version, but it still doesn't solve it.

[2016-09-21 07:47] huifan commented on #822
@vinodborole   this code works well:
Config config = Config.DEFAULT.withSSLVerificationDisabled();
OSClient osClient = OSFactory.builder().endpoint("https://xxx/identity/v2.0")
				.credentials("xxx", "xxx").withConfig(config).tenantName("xxx").authenticate();

[2016-09-21 07:53] vinodborole commented on #606
Can you please post the full trace log?

[2016-09-21 08:01] Cherry522 commented on #606
16:00:09.500 [main] DEBUG org.openstack4j.core.transport.internal.HttpExecutor - Executing Request: http://10.42.16.32:5000/v3 -> /auth/tokens
16:00:09.684 [main] DEBUG org.jboss.resteasy.plugins.providers.DocumentProvider - Unable to retrieve config: expandEntityReferences defaults to true
16:00:09.691 [main] DEBUG org.jboss.resteasy.plugins.providers.DocumentProvider - Unable to retrieve config:

[2016-09-21 08:20] Silence803 commented on #606
I modified the source code，Can solve this problem。
class:openstack4j-master\core\src\main\java\org\openstack4j\openstack\compute\domain\NovaHostAggregate
change code:
----------------------------------------------------------------------------------------
@JsonProperty("availability_zone")
public String availability_zone;
@JsonIgnore
public boolean deleted;
----------------------------------------

[2016-09-21 08:35] Cherry522 commented on #606
OK. Thank you!

[2016-09-21 09:49] auhlig commented on #606
@Silence803 Do you want to contribute the fix?

[2016-09-21 10:18] huytt1992 opened #824 "I have problems when deploy Application in another server."
i have Application,It is working very stable in Server, and deploy in environment setup WebLogic.
now, i want to change to another server, but  I was having problems and error details:

13:47:59,464 | INFO  | LoggingFilter(102):doFilterHttp | 10.10.10.1 | 123.25.21.12 | nvtm |
javax.servlet.ServletException: com.google.common.util.concurrent.ExecutionError: java.lang.NoClassDefFoundError: org/glas

[2016-09-21 11:19] evgenyfedoruk commented on #578
Have the same problem.
Here is my code:
`List<Tenant> tenants = os.identity().tenants().list();
// Returns list of tenants as I expect.
Iterator<Tenant> tenant_iter = tenants.iterator()
KeystoneTenant tenant
					while(tenant_iter.hasNext()) {
						tenant = (tenant_iter.next())
                                      Tenant t = os.identity().tenants().get(tenant.getId());
// returns null for all te

[2016-09-21 21:24] olivierlemasle opened #825 "NullPointerException for HEAD request with HttpClient connector"
Using the Apache HttpClient connector, a NullPointerException is thrown if the response contains no entity (which is the case for a HEAD request).

I encountered the issue with `client.identity().roles().checkProjectUserRole()` which is maped to a HEAD request (http://developer.openstack.org/api-ref/identity/v3/index.html?expanded=check-whether-user-has-role-assignment-on-project-detail,check-whet

[2016-09-22 01:26] liucj111926 opened #827 "change token"
I got an token when using admin login,I would like to  operate anthor tenant's resources, I want to change token.i know not what i do

[2016-09-22 03:19] Silence803 commented on #606
@auhlig I'd like to, but what am I going to do?

[2016-09-22 09:04] auhlig commented on #606
Hi @Silence803,
Very cool.
Just fork the repo on github to your account,
git-clone repo to your computer,
open project with ide of your choice,
do the change,
when using java 8 run the tests using `mvn clean verify` on java7 `mvn clean verify -pl !org.pacesys.openstack4j.connectors:openstack4j-http-connector,!org.pacesys.openstack4j.connectors:openstack4j-jersey2,!org.pacesys:it-jersey2 `, push ch

[2016-09-23 08:49] llw5266 opened #828 "Use 3.0.0 openstack4j version OSClientV2 to get tenant for null"
this is my code:
  OSClientV2 os = OSFactory.builderV2()
                  .endpoint("http://192.168.9.3:5000/v2.0")
                  .credentials("admin","admin")
                  .perspective(Facing.ADMIN)
                  .tenantName("admin")
                  .authenticate();

  List<? extends Tenant> tenants = os.identity().tenants().list();
  System.out.println(tenants.size());

[2016-09-23 12:03] hubecker opened #829 "ClassNotFoundException when calling authenicate with another Thread.contextClassloader"
HI,

we observe a ClassNotFoundException when we try to authenticate. This appears in situations where the Thread.contextClassloader is set to a classloader that has no access to the openstack4j sourcces. This can happen in some situations of dynamically loading the bundles. In detail this issue is originating from FactoryFinder.java in the the javax.ws.rs library. This library uses the contextCla

[2016-09-23 13:48] nmakhotkin opened #830 "Missed communication with Application catalog (Openstack murano)"
Our team is planning to work with Openstack on Java but we need communication with murano.

We start the development of this part of openstack4j soon.

[2016-09-23 18:31] porunov opened #831 "Does OpenStack4j supports a creation of a manifest of a Static Large Object?"
Hello,

I wander to know if it is possible to create an SLO? I know that we can just load parts of a file in the swift but to complete the createtion we have to send a PUT request with the special JSON string into the Swift with the quary parameter multipart-manifest=put.

Is it possible to add one more query parameter when we create an object with the OpenStack4j ?

Sincerely,
Alexandr

[2016-09-24 08:48] porunov commented on #831
I have found how to put a query parameter.

Here is how I create an SLO manifest:

[code]
Sincerely,
Alexandr

[2016-09-24 08:48] #831 closed

[2016-09-24 21:29] aniketpol commented on #741
What is  domainIdentifier  where can i find it?

[2016-09-24 21:41] aniketpol commented on #264
I am new to openstack4J
I have installed devstack on ubuntu 16.04
I am trying to get authentication using Openstack4j using:
OSClientV3 os = OSFactory.builderV3()
                .endpoint("http://192.168.1.6/identity/v3")
                .credentials("admin", "123456", Identifier.byId("user domain id"))
                .scopeToProject(Identifier.byId("project id"))
                .authenticate()

[2016-09-26 03:58] eryeru opened #832 "TestNG No OpenStack4j connector"
when i run a testng class in intellij ,but there is always thow the error:
org.openstack4j.api.exceptions.ConnectorNotFoundException: No OpenStack4j connector found in classpath

	at org.openstack4j.core.transport.internal.HttpExecutor.service(HttpExecutor.java:33)
	at org.openstack4j.core.transport.internal.HttpExecutor.getExecutorName(HttpExecutor.java:43)
	at org.openstack4j.api.AbstractTest.st

[2016-09-26 08:25] wumingcheng commented on #416
Hi @tangxiaodon89 : do you deal with this problem, I just have this problem, too.

[2016-09-26 09:20] liucj111926 opened #833 "reboot action and hard-reboot action"
Can you provide reboot action and hard-reboot action?

[2016-09-26 09:31] liucj111926 commented on #833
I found it

[2016-09-26 09:31] #833 closed

[2016-09-26 13:35] auhlig commented on #832
@eryeru Isn't this question rather for stackoverflow than for an issue?

[2016-09-27 01:32] liucj111926 opened #834 "shut down host api"
can you provide shut down host api?

[2016-09-27 02:14] eryeru commented on #832
@auhlig Thank you ! But i solve it,it's intellij setting issue. In the RUN/DEBUG menu ,it must choice the "Use classpath of module",example of "openstack4j-jersey2".

[2016-09-27 02:14] #832 closed

[2016-09-27 09:46] ScottMaclure opened #835 "OpenStack4j v3.0.2 with javax.ws.rs-api 2.0.1 and resteasy"
Apologies in advance - unsure how to raise/discuss an issue like this. Don't do much java coding.

My project already uses javax.ws.rs-api v2.0.1 implementation from Oracle:

[code]

I recently added openstack4j v3.0.2 and I get the following error when Oracle's jar loads first, and I try to authenticate:

[code]

Seems there's a some-kind of signature mismatch with the UriBuilder returned from re

[2016-09-27 11:22] vinodborole commented on #835
@ScottMaclure

jaxrs-api - This is the spec jar for Resteasy and support the spec for JAX-RS versions
javax.ws.rs-api - This the official spec jar for the JAX-RS 2.x line

resteasy latest version 3.x supports the JAX-RS 2.x spec so it is safe to exclude javax.ws.rs-api jar

you can read more about this here - https://jax-rs-spec.java.net/

[2016-09-27 14:01] auhlig commented on #830
Hey @nmakhotkin,
Very cool. Looking forward to the PR.
Could you also include tests? Feel free to reach out in case you need help.

[2016-09-27 14:03] auhlig commented on #834
Hi @liucj111926,
You're welcome to contribute and submit a PR.

[2016-09-27 14:19] olivierlemasle commented on #313
@auhlig No, I just tested the "trusts" feature but I've never used it (and btw it didn't fit my needs).

[2016-09-27 14:30] nmakhotkin commented on #830
Hi @auhlig,

yes, I included unit-test for that functionality. Did you mean some integration-tests?

[2016-09-27 17:28] #825 closed

[2016-09-27 17:31] auhlig commented on #830
As you started with the unit tests that's fine.

Could you also update the website documentation https://github.com/ContainX/openstack4j.com ?

[2016-09-27 17:35] auhlig commented on #818
@zizhongwei Can we close this issue?

[2016-09-27 17:56] olivierlemasle commented on #662
If you accept, I can contribute a pull request to allow openstack4j to use an existing `HttpClient`.

For example:
[code]

`HttpExecutorServiceImpl` would still have its no-arg constructor to create a service building its own client.
And openstack4j would still rely on SPI to find a connector if no one is defined in `config`.

@vinodborole @auhlig @gondor What do you think of that proposal? Should

[2016-09-27 19:03] nmakhotkin commented on #830
Yes, I'll update it once I make the murano support more or less complete (I plan to do it iteratively)

[2016-09-28 00:37] zizhongwei commented on #818
@auhlig yes,we should close this issue.

[2016-09-28 00:38] #818 closed

[2016-09-28 04:56] ScottMaclure commented on #835
Thanks for that info - that's what I've gone with for now.

It's worth noting that OpenStack4j v3.0.2 is using `resteasy v2.3.7.Final` though?

[2016-09-28 04:56] #835 closed

[2016-09-30 01:55] whaon opened #838 "KeystoneAuth does not have a default constructor"
this may cause problems when using jackson to handle it

[2016-09-30 02:55] ScottMaclure commented on #822
I'm trying something similar with Keystone v3, getting:

[code]

Goal: environment config flag to ignore self-signed certs.

[2016-09-30 06:09] auhlig commented on #838
Can you share more details?

[2016-09-30 11:38] auhlig commented on #802
@whaon Can we close this issue since the PR is merged?

[2016-09-30 11:39] auhlig commented on #809
@eveknow Can we close the issue since #813 is merged?

[2016-10-03 08:29] nmakhotkin opened #839 "Rest Easy connector can't send json encoded String (but all other connectors work fine)"
Using restEasy connector it is impossible to send json-encoded String:

[code]

Using restEasy connector I get: **org.openstack4j.api.exceptions.ConnectionException: could not find writer for content-type application/json type: java.lang.String**

[2016-10-04 07:03] ScottMaclure commented on #776
@auhlig perhaps add an example of scoping by project name + domain name in the getting started guide, this tripped me up because I was previously scoping by project id. It makes sense now after reading this page.

[2016-10-04 13:27] auhlig commented on #776
Thanks @vinodborole

[2016-10-04 13:51] vinodborole commented on #776
@auhlig  i have made committed the change but i do not see the changes on the page..can u check my latest commit.

[2016-10-04 14:19] auhlig commented on #776
Your commit looks fine. It was just not deployed. Is that only triggered on PR merge?

[2016-10-04 14:20] vinodborole commented on #776
not sure, i did a direct commit to master... @gondor can you check.

[2016-10-04 14:22] auhlig commented on #776
yeah. i can see it. i don't think you did anything wrong. that should have worked.
can deployment be triggered manually?

[2016-10-04 14:39] auhlig commented on #776
log looks good https://travis-ci.org/ContainX/openstack4j.com/builds/164855887. Image pushed successfully.

[2016-10-04 19:47] romoreira opened #842 "Change some endponints of the services"
Hi community,

I want to change endpoint URL of the telemetry service. When I do authenticate, I receive some URLs (endpoints) of the available services. But, I need to change the URL string of the Telemetry service, because I have the URL <IP:Port>/v2/meters works (available), and the API considers just <IP:Port>/meters (404 not found - obviously). Can anyone help me? I can change that in the cod

[2016-10-04 23:50] gondor commented on #776
There was an error on deploy.  I need to look into it but the change did make it into the container :)

[2016-10-05 02:53] gondor commented on #776
Should be fixed. Build 34 from travis was deployed

[2016-10-05 04:23] eveknow commented on #809
Everything seem good when create flavor in this release.
Thanks @auhlig, @biogerm

[2016-10-05 04:23] #809 closed

[2016-10-05 06:07] vinodborole commented on #776
Thanks @gondor :+1:

[2016-10-05 06:10] vinodborole commented on #842
@romoreira that is not the right way of doing, you need to fix your openstack to get the right url's

[2016-10-05 06:15] vinodborole commented on #662
sounds a good suggestion @olivergondza  but i would leave this to @gondor to decide.

[2016-10-08 08:32] whaon commented on #838
[code]

as we see above,there is no constructor with no parameters in the KeystoneAuth class.
this may cause some problems when using jackson to handle  it

[2016-10-08 09:52] auhlig commented on #838
So far I'm not aware this caused problems and tests are passing. Did you experience any errors caused by this?

[2016-10-09 02:00] whaon commented on #838
Oh,sorry, I have forgot to say that it's OK to serialize it but faild when deserialize it if the Classs does not have a default empty params constructor,the exception occurs like the below:
[code]

[2016-10-10 21:04] auhlig commented on #838
Ah. Okay. Thanks for explaining. Would you like to submit a PR for that?

[2016-10-10 22:02] mikeagarza commented on #828
I have a similar issue.  Looking at the http log I see that it seems to be generating a v3 url for the list even though I am using the OSClientV2.  Here is the log:

Sending request http://10.0.50.1:5000/v2.0/tokens on null
OS4J-Auth-Command: Tokens

Received response for http://<IP>:5000/v2.0/tokens in 124.2ms
Date: Mon, 10 Oct 2016 21:46:31 GMT
Server: Apache/2.4.6 (CentOS)
Vary: X-Auth-Token,Ac

[2016-10-11 08:10] lsyfg opened #844 "changeAdminPassword servers error?"
use openstack4j execute change server password:
os.compute().servers().changeAdminPassword("7193b68a-1173-4e41-bdb2-cf9401699342", "admin123456");

error:
message:Failed to set admin password on 7193b68a-1173-4e41-bdb2-cf9401699342 because error setting admin password
code:500
state:error
why?
How to change host password by openstack4j? help me,thank!

[2016-10-11 12:22] caozhiping123456 opened #845 "version 3.0.2 create OSClientV2 then invokes api throw ConnectionException"
this is my code:
OSClientV2 os = OSFactory.builderV2()
                     .endpoint("http://10.254.10.56:5000/v2.0")
	            .credentials("admin", "123456")
	            .tenantName("admin")
	            .authenticate();
List<? extends Subnet> subnets = os.networking().subnet().list();
error message：
Exception in thread "main" ConnectionException{message=URI does not specify a valid host na

[2016-10-11 12:22] caozhiping123456 commented on #845
<dependency>
  <groupId>org.pacesys</groupId>
  <artifactId>openstack4j</artifactId>
  <version>3.0.2</version>
  <classifier>withdeps</classifier>
</dependency>

[2016-10-11 12:30] porunov opened #846 "Dead TCP detection"
Hello,

I have 2 swift proxy nodes but as I understand OpenStack4j can use only one proxy node and doesn't support HA. So, I installed a keepalived on both proxy nodes and they share the same IP address. The situation is the next:

OpenStack4j connects to the keystone server and gets an endpoint. After that it starts to save objects into swift through the proxy 1. After proxy 1 is crashed proxy 2

[2016-10-11 13:44] auhlig commented on #827
Isn't this something for stackoverflow rather than for an issue?

[2016-10-11 13:44] #827 closed

[2016-10-11 14:09] porunov commented on #846
Here is my thread dumb:

[code]

[2016-10-12 01:55] whaon commented on #838
see pr:[848](https://github.com/ContainX/openstack4j/pull/848)

[2016-10-12 02:31] zizhongwei opened #849 "BasicActions missed the action:"forceDelete""
BasicActions  missed the action:"FORCEDELETE":
![image](https://cloud.githubusercontent.com/assets/12456254/19295395/e14e357a-9066-11e6-969a-6b754e818fd0.png)

[2016-10-12 09:04] auhlig commented on #849
Can we close the issue since the PR is merged? @zizhongwei

[2016-10-12 09:05] auhlig commented on #838
Just merged the PR. Cam we close this issue @whaon ?

[2016-10-12 09:23] #838 closed

[2016-10-12 09:24] #849 closed

[2016-10-12 17:36] auhlig commented on #786
Hi @vishvesh,
Can We Close this issue since the PR is merged?

[2016-10-12 17:41] auhlig commented on #817
I missed this issue. Do you want to submit a PR fixing this @whaon ?

[2016-10-12 19:25] auhlig commented on #846
Hi @porunov,
Feel free to submit a PR.

[2016-10-12 19:41] porunov commented on #846
I am sorry. What is PR?

Here is my code:
[code]

[2016-10-12 19:47] porunov commented on #846
When the loop is running I shutdown the proxy node to which OSClientV3 has been connected. After that the code stucks for infinity. I don't see any exception.  os.objectStorage().objects().put just locks and waits. It will never be resumed. How to detect such a dead threads? Is it possible to check if this thread is sending data or just was stuck?

[2016-10-12 20:21] vishvesh commented on #786
@auhlig : Sure, closing it !!

[2016-10-12 20:21] #786 closed

[2016-10-13 10:16] #802 closed

[2016-10-14 06:09] JerryShi opened #854 "param 'external_fixed_ps' of external_gateway_info is missing"
Through the java api， we can not set external_fixed_ips when we want to config external gateway to a router.

[2016-10-14 06:13] JerryShi commented on #854
The external gateway information of the router. If the router has an external gateway， this would be a dict with network_id， enable_snat and external_fixed_ips.
public class NeutronExternalGateway implements ExternalGateway {

	private static final long serialVersionUID = 1L;

	@JsonProperty("network_id")
	private String networkId;

	@JsonProperty("enable_snat")
	private Boolean enableSnat;

	publ

[2016-10-14 08:08] auhlig commented on #854
Hi @JerryShi,
Thanks for finding and reporting the issue. I encourage you to contribute and submit a PR :)

[2016-10-14 10:40] auhlig commented on #830
Hi @nmakhotkin,
Many thanks for all the contributions.

I recently updated the integration tests (incl. readme). Since you mentioned that you're also testing murano service implementation in os4j against an openstack instance I'd like to ask if you'd mind adding some integration tests. That would also give me some feedback on how usable it is.
What do you think?

[2016-10-14 10:43] auhlig commented on #817
Merged the PR. Can we close this issue?

[2016-10-15 14:51] #817 closed

[2016-10-16 08:12] nmakhotkin commented on #830
@auhlig, sorry but I can't do it now.  Our company suddenly changed the vector of development and unfortunately, murano-apps (where we needed murano-jenkins-plugin) development is also closed now. Sorry.

I can only add the rest of functionality and integration tests in free time, try to do that.

[2016-10-17 02:11] ScottMaclure commented on #481
Any plans for Cinder V2 support?

[2016-10-17 02:15] ScottMaclure commented on #736
Any plans for Cinder V2 support?

[2016-10-17 05:39] vinodborole commented on #736
My team is working on ironic - https://github.com/ContainX/openstack4j/tree/ironic

[2016-10-18 03:47] tangxiaodon89 opened #855 "The okhttp HttpResponseImpl do not implement the close method"
I want know why the okhttp HttpResponseImpl close method do nothing.
In my project show this log.
okhttp3.internal.platform.Platform log
warn: A connection to http://10.110.20.131:8774/ was leaked. Did you forget to close a response body?
Shoud I call this.response.body().close(); in the close method

[2016-10-18 09:37] JerryShi opened #856 "param 'sessionPersistence' of NeutronLbPoolV2 requires @JsonProperty"
Hi Community，
     Param 'sessionPersistence' in class 'NeutronLbPoolV2' requires @JsonProperty or an error will be thrown.

ClientResponseException{message=Unrecognized attribute（s） 'sessionPersistence',，status=400， status-code=BAD_REQUEST}

[2016-10-18 10:56] vinodborole commented on #856
@emjburns can you please address this?

[2016-10-18 15:46] emjburns commented on #856
@vinodborole sure. Can you assign it to me?

[2016-10-19 05:33] vinodborole commented on #856
@emjburns i don't see you in the assignees list, can you check if you can assign it to yourself?

[2016-10-19 08:01] liranyogev opened #857 "router_ids is missing from NeutronFirewall"
`router_ids` is an optional field that was introduced in [Kilo](https://github.com/openstack/neutron-fwaas/commit/d0704f056021b235caba1f906b1733f422ce68c1).

It is missing in [org.openstack4j.openstack.networking.domain.ext.NeutronFirewall](http://www.openstack4j.com/javadoc/org/openstack4j/openstack/networking/domain/ext/class-use/NeutronFirewall.Firewalls.html).

Can you please add it?

Thanks

[2016-10-19 08:11] auhlig commented on #857
Hi @liranyogev,
Thanks for finding this issue.
Sounds good. Looking forward to your PR.

[2016-10-19 08:46] auhlig commented on #830
Oh. What a pity! :(
Again thanks for all the work you did so far.

Cool. Feel free to reach out if we can help.

[2016-10-19 09:29] vinodborole commented on #830
@nmakhotkin thnx buddy; looking forward for your response on my email i sent the other day.

[2016-10-19 09:57] #857 closed

[2016-10-19 12:47] liranyogev commented on #857
Thanks for merging :)
Any expected release date for 3.0.3?

[2016-10-20 03:11] whaon opened #859 "the server api does not support tag?"

[2016-10-20 10:05] whaon commented on #859
I get the content above from the openstack official website:[http://developer.openstack.org/api-ref/compute/](http://developer.openstack.org/api-ref/compute/)
but it seems that openstack4j doesn't support it.

[2016-10-20 10:10] auhlig commented on #859
Looks like it's indeed missing. Would you like to add this?

[2016-10-20 10:13] whaon opened #860 "the return values of getting details of keypair are incomplete"
[code]
i fetch the content above from the os official website:[http://developer.openstack.org/api-ref/compute/?expanded=show-keypair-details-detail](http://developer.openstack.org/api-ref/compute/?expanded=show-keypair-details-detail)
but openstack4j lost the fields:user_id,deleted,created_at,updated_at,deleted_at and id.

[2016-10-20 11:05] auhlig commented on #860
Right. Maybe they were introduced after https://github.com/ContainX/openstack4j/blob/master/core/src/main/java/org/openstack4j/openstack/compute/domain/NovaKeypair.java was written.
Do you want to add the missing attributes?

[2016-10-20 11:26] #842 closed

[2016-10-20 11:35] auhlig commented on #299
Closing as trove is supported since https://github.com/ContainX/openstack4j/pull/801

[2016-10-20 11:35] #299 closed

[2016-10-20 11:35] #338 closed

[2016-10-20 11:37] #324 closed

[2016-10-24 06:17] babyachievement commented on #845
@caozhiping123456 ,I have also found the problem, when I use org.pacesys openstack4j 3.0.2 withdeps and run my code on a Linux server. But when I execute it on my desktop, it execute successfully. The following is my error message.

[code]

[2016-10-24 06:45] caozhiping123456 commented on #845
@babyachievement I have solved it,you try this  here is my pom.xml  openstack4j  dependencies.

[2016-10-24 06:45] caozhiping123456 commented on #845
@babyachievement <dependency>
  <groupId>org.pacesys</groupId>
  <artifactId>openstack4j-core</artifactId>
  <version>3.0.2</version>
</dependency>
		<dependency>
			<groupId>com.squareup.okhttp3</groupId>
			<artifactId>mockwebserver</artifactId>
			<version>3.2.0</version>
			<scope>provided</scope>
		</dependency>
		<dependency>
			<groupId>org.mockito</groupId>
			<artifactId>mockito-core</art

[2016-10-24 06:47] caozhiping123456 commented on #845
@babyachievement this is all  pom.xml
<dependencies>
		<dependency>
			<groupId>org.springframework.security</groupId>
			<artifactId>spring-security-config</artifactId>
			<version>4.0.2.RELEASE</version>
		</dependency>
		<dependency>
			<groupId>org.springframework.security</groupId>
			<artifactId>spring-security-web</artifactId>
			<version>4.0.2.RELEASE</version>
		</dependency>

		<dependen

[2016-10-24 06:48] caozhiping123456 commented on #845
sorry,layout is not very good

[2016-10-24 08:30] babyachievement commented on #845
@caozhiping123456  Can you tell me the reason?

[2016-10-24 08:56] caozhiping123456 commented on #845
@babyachievement It might be a version of the conflict  With other driver package
I am not too sure

[2016-10-24 09:39] whaon opened #863 "does not support Creates an image from a server"
POST /servers/{server_id}/action
the request boby like the below:
[code]
pls refer to the api doc:[http://developer.openstack.org/api-ref/compute/?expanded=create-image-createimage-action-detail](http://developer.openstack.org/api-ref/compute/?expanded=create-image-createimage-action-detail)
it seems that openstack4j doesn't support this

[2016-10-24 10:04] zizhongwei commented on #863
I will fix this during the week

[2016-10-24 10:10] whaon commented on #863
@zizhongwei ,thanks

[2016-10-24 10:14] whaon opened #864 "the NeutronFloatingIP class miss the status property"
[code]
NeutronFloatingIP class misss the **status** property

[2016-10-24 10:39] auhlig commented on #860
Merged PR. Can we close this issue?

[2016-10-24 10:39] auhlig commented on #859
Same here. Can this be closed now?

[2016-10-24 10:41] auhlig commented on #864
Would you like to submit another PR @whaon ?

[2016-10-24 12:07] #860 closed

[2016-10-24 12:08] #859 closed

[2016-10-25 02:28] zhoutiekui commented on #822
I have encounter the same problem when i use version 3.0.2,and when i use 3.0.0, it is normal

[2016-10-25 08:01] whaon opened #867 "List Flavors doesn't support query parameters"
such as sort_key,sort_dir,limit and etc
pls refer to the api doc:[http://developer.openstack.org/api-ref/compute/?expanded=list-flavors-detail,list-flavors-with-details-detail](http://developer.openstack.org/api-ref/compute/?expanded=list-flavors-detail,list-flavors-with-details-detail)

[2016-10-25 16:38] auhlig commented on #867
Feel free to submit a PR.

[2016-10-25 16:38] auhlig commented on #864
PR merged. Can we close?

[2016-10-25 16:39] #856 closed

[2016-10-25 16:39] auhlig commented on #856
Merged fix.

[2016-10-26 01:26] #864 closed

[2016-10-26 08:28] Francesko90 commented on #795
Follow up

[2016-10-27 07:38] #867 closed

[2016-10-27 09:00] asilgidjian opened #869 "Incompatible change in NovaKeypair"
I am using OpenStack Liberty instance and OpenStack4J 3.0.3-SNAPSHOT, because I need to create a private flavor, which got fixed with:
https://github.com/ContainX/openstack4j/pull/686/files

However my functionality got broken recently and now I cannot generate key pair. The error is as follows:

[code]

I think that the issue is caused by the following change:
https://github.com/ContainX/openstac

[2016-10-27 09:05] auhlig commented on #869
Could you address this @whaon, @tongh-qtl?

[2016-10-27 09:48] whaon commented on #869
ok,I'm checking

[2016-10-27 10:06] whaon commented on #869
It's OK now.
The openstack creating keypair api doesn't accept a **deleted** status in the request body.But it's OK now.
Feel free to contact me if you have any problems

[2016-10-27 10:50] auhlig commented on #869
Thanks @whaon.
Please close the issue if the fix worked for you @asilgidjian.

[2016-10-28 06:04] JerryShi commented on #856
@emjburns can you fix the same problem in 'NeutronLbPoolV2Update.class' ？thx

[2016-10-28 08:45] auhlig commented on #556
Closing issue as this was done in #632

[2016-10-28 08:45] #556 closed

[2016-10-28 08:47] auhlig commented on #855
Hi @tangxiaodon89,
Thanks for filing this issue. Would you like to contribute and submit a PR to fix this?

[2016-10-28 13:55] Francesko90 commented on #795
Possible connection https://github.com/ContainX/openstack4j/issues/839

[2016-10-28 15:51] lilloxxx opened #872 "Object Storage copy method - Content-Length header already present"
Hi,
I encountered an issue with this 'copy' method:

[code]

I received this error:

`Exception in thread "main" ConnectionException{status=0}
    at org.openstack4j.connectors.resteasy.HttpExecutorServiceImpl.invoke(HttpExecutorServiceImpl.java:56)
    at org.openstack4j.connectors.resteasy.HttpExecutorServiceImpl.execute(HttpExecutorServiceImpl.java:30)
    at org.openstack4j.core.transport.inte

[2016-10-28 15:56] auhlig commented on #872
Content-Length header already present? Worth to turn on debug logging to see the request by `OSFactory.enableHttpLoggingFilter(true);`

[2016-10-31 01:22] whaon commented on #863
@zizhongwei hi,Did you fix it?

[2016-10-31 01:39] JerryShi commented on #856
FYI @vinodborole @auhlig

[2016-10-31 07:45] asilgidjian commented on #869
Thanks, the fix works!

[2016-10-31 07:45] #869 closed

[2016-10-31 10:33] auhlig commented on #856
Hi @emjburns, Please address this if you get the chance. Thanks.

[2016-11-01 07:29] easyit opened #874 "Does Openstack4J support Block Storage API V3 Backups (backups)"
A backup is a full copy of a volume stored in an external service.  Please refet to http://developer.openstack.org/api-ref/block-storage/v3/?expanded=list-backups-with-detail-detail

Does Openstack4J support below functions ?
List backups with detail.
Show backup detail
Delete a backup
Restore a backup
Create a backup
List backups for tenant

[2016-11-01 09:21] whaon opened #875 "org.openstack4j.openstack.image.v2.domain.GlanceImage should use Long instead of Integer"
the field **minDisk,minRam,size,virtualSize** should be Long rather than Integer because it is easy to exceed the of maximum of Integer

by the way,the fields in org.openstack4j.openstack.image.domain.GlanceImage are all Long.

[2016-11-01 09:53] easyit commented on #646
os.blockStorage().schedulerStatsPools().pools()

[2016-11-01 15:38] vinodborole commented on #646
@gf-chen40 Thnx, can you help us with a short documentation around this

[2016-11-02 03:44] whaon opened #877 "The class GlanceTask does not match the resposne data"
the resposne  is like below:
[code]
but the class GlanceTask is:
[code]

this will cause a com.fasterxml.jackson.databind.JsonMappingException

[2016-11-02 03:45] whaon commented on #877
I consider to use a map to handle this,what do you think?

[2016-11-02 08:34] whaon opened #878 "the imageStatus in class GlanceImage should be status"
consider the Response Example¶
[code]
the field should be status

[2016-11-02 09:03] lilloxxx commented on #872
Hi Arno,
thanks for your fast reply.

I noticed that i'm already using the option 'OSFactory.enableHttpLoggingFilter(true);' yet .
But I obtain the debug of HTTP's calls on console only with previous version of openstack4j.

So using:
[code]

With this version the error message is different, now it's 'Missing Content-Length header.', as reported:

[code]

Thanks in advice for any help.
Regards,
li

[2016-11-02 10:44] auhlig commented on #878
Agreed. I guess that changed over time. Will you submit a fix and extend the respective test @whaon? Thanks in advance.

[2016-11-02 10:48] auhlig commented on #877
I couldn't find the result attribute in the docs http://developer.openstack.org/api-ref/image/v2/#tasks . Could you share more info @whaon ?

[2016-11-02 10:52] auhlig commented on #874
I'm not aware of this in os4j. Are you @vinodborole?

You're very welcome to contribute and submit a PR @easyit. Feel free to reach out in case you need help.

[2016-11-02 10:59] auhlig commented on #872
Compared to the API http://developer.openstack.org/api-ref/object-storage/?expanded=copy-object-detail#copy-object the request looks good, doesn't it?

Does this work via swift- or openstack client?

[2016-11-02 11:29] vinodborole commented on #874
Its not there i guess, yes please go ahead and contribute. let us know if you need any help around. :+1:

[2016-11-03 01:51] whaon commented on #877
the whole resposne is:
[code]
just search the image_id: **2b61ed2b-f800-4da0-99ff-396b742b8646** and you will find it

[2016-11-03 06:28] vinodborole commented on #877
Agreed with @whaon for status as 'processing' and 'failure' the "result": null while for success it is "result": {
        "image_id": "2b61ed2b-f800-4da0-99ff-396b742b8646"
    }

@whaon is it possible for you send a PR for this, thanks again!

[2016-11-03 08:21] whaon commented on #877
@vinodborole yes,I have done the work for the issue #877 and #878
but I have another PR #876 for fixing issue #875
I will submit an extra PR after the PR #876 be merged

[2016-11-04 14:00] lilloxxx commented on #872
Hi Arno,
you are right, the request looks good reading the log but could be not as seems.
Please, follow me in the example.

This the request, reading log:
`
PUT
https://<servername>.it/v1/AUTH_e64d1ed81f00418884df4330c25d3199/Container_pseudo_dir/respin_conf.tar.gz_CopiedObject
Accept: application/json
Content-Length: 0
X-Auth-Token: gAAAAABYGcVwgjs1EmctTC02EPmdT9fRlCSEstxIYq0HvxUP3ue6hedOaobrsAV

[2016-11-04 14:39] auhlig commented on #872
Summing up: Content-Length header missing in the actual request using Jersey and Apache connector. Right?
Short-term you could try okhttp.

[2016-11-04 15:51] lilloxxx commented on #872
Thanks for the tip, it's working now!

Only for the records:
I modified my pom in this way, to force _okhttp_  usage:

[code]

Regards,
lilloxxx

[2016-11-04 15:51] #872 closed

[2016-11-04 19:08] auhlig opened #879 "content-length header missing using jersey, apache"
Reminder so we don't forget or in case someone else experiences this.

`Content-Length: 0` header missing in request using jersey and apache connector.
 User stumbled across this issue while trying `os.objectStorage().objects().copy(ObjectLocation.create(srcContainer, srcObject),
                ObjectLocation.create(destContainer, destObject));`

reference: #872

[2016-11-07 09:00] easyit opened #880 "add two more function in ComputeFloatingIPService"
The existing API addFloatingIP requires Server as parameter, which is heavy. I would like to request for two similar functions which take the server id as input:

Interface added in ComputeFloatingIPService.java
`ActionResponse addFloatingIP(String serverId, String fixedIpAddress, String ipAddress);
ActionResponse addFloatingIP(String serverId, String ipAddress);`

Implementation in the ComputeFlo

[2016-11-07 09:38] auhlig commented on #880
Sounds good. Looking forward to your PR.

[2016-11-07 10:04] whaon opened #881 "getImageId do no need to invoke the real openstack API"
[code]
when I invoke the method getImageId(),os4j will always invoke the real openstack API,and it will cause a long time,so we can make it as the below:
[code]
when we definitely need a Image Object,then we can invoke the getImage() method,or we have another choice:use the id to invoke the other service

[2016-11-08 00:09] auhlig commented on #881
Hey @whaon,
You're talking of the [getImageId()-method in NovaServer](https://github.com/ContainX/openstack4j/blob/6c3451d7073282535d5982b6bcc72eba28b7d0ba/core/src/main/java/org/openstack4j/openstack/compute/domain/NovaServer.java#L107-L110) ,right?

How do we get the image id without getting the image object first? Maybe it gets clearer in the PR. Please add a test.

[2016-11-08 03:39] whaon commented on #881
Hey @auhlig ,
sorry for not making it clear.
I'm  talking of the getImageId()-method in NovaServer.
the field of NovaServer is like below:
[code]
and the response data of API **/servers/detail** is like:
[code]
consider the current method **getImage()**,the field image is treated as a LinkedHashMap,and can get the id from the map

[2016-11-08 07:19] easyit commented on #880
ok, I will add the code.

[2016-11-08 09:59] easyit opened #882 "new API request - List network with filtering parameters"
I would like to request a new API in NetworkService to filter the networks retrieved, please refer to [https://wiki.openstack.org/wiki/Neutron/APIv2-specification#Filtering_and_Column_Selection](url).
 The API could be similar to
`  List<? extends Network> list(Map<String, String> filteringParams);`

[2016-11-08 22:52] auhlig commented on #882
Hey @easyit,
Thanks for creating the issue.
Sounds good. Please go ahead and submit a PR incl. some short tests.

[2016-11-10 08:35] JamieXu168 opened #884 "Authentication error: Unable to respond to any of these challenges"
I  installed openstack mitaka  on CenOS and tried to connect it using openstack4j-3.0.2  ,The code is like this:

import org.openstack4j.api.OSClient.OSClientV3;
import org.openstack4j.openstack.OSFactory;
import org.openstack4j.model.common.Identifier;
public class TestNova
{
	public static void main(String[] args)
	{
		String projectName = "admin";
		String domainName  = "default";
		OSClientV3

[2016-11-10 08:41] auhlig commented on #884
Enable debug logging. Worth to check if the token's catalog contains the identity v3 service.

[2016-11-10 08:50] #653 closed

[2016-11-10 09:11] JamieXu168 commented on #884
I change user as demo ,the result is same . The command was ok when installed mitaka:
$ openstack --os-auth-url http://controller:5000/v3   --os-project-domain-name default --os-user-domain-name default --os-project-name demo --os-username demo token issue

So the token's catalog contains the identity v3 service

[2016-11-10 09:16] auhlig commented on #884
As stated in the docs use `.credentials("admin", "secret", Identifier.byId("user domain id"))`.

[2016-11-10 09:42] JamieXu168 commented on #884
Thank you, I don't know user domain id if it is 'default', The code is as follows :

OSClientV3 os3 = OSFactory.builderV3()
                    .endpoint("http://111.207.49.183:5000/v3")
                    .credentials("demo", "demo", Identifier.byId("default"))
                    .scopeToProject(Identifier.byName(projectName), Identifier.byName(domainName))
                    .authenticate();

[2016-11-10 09:44] auhlig commented on #884
HTTP/1.1 401 Unauthorized

[2016-11-10 09:55] JamieXu168 commented on #884
I don't know how to solve the problem...

[2016-11-10 10:37] auhlig commented on #884
Check provided values (credentials, names, .. , user exists within domain) are correct. Maybe take a look at the http communication.

Since this currently doesn't seem to show an issue in os4j I'd like to ask you to close and continue the discussion e.g. on stackoverflow.

[2016-11-10 11:21] pstoyanov91 opened #885 "Identity functionality doesn't work - Returning empty lists and sending the request to the wrong endpoint."
The library doesn't seem to make the calls to the right endpoint so the whole identity functionality doesn't work. I want to point out the the networking functionality is working properly.

Openstack4j version: 3.0.0
Openstack version: Newton
Java 1.8

This is my code for the v3 client:
OSClientV3 osV3 = OSFactory.builderV3()
                    .endpoint(OPENSTACK_IP_ADDRESS)

[2016-11-10 11:48] auhlig commented on #885
Hi @pstoyanov91,
Your keystone v3 endpoint is incorrect. It is defined as http://<fqdn>:5000/v3.

[2016-11-10 12:20] zhoutiekui opened #886 "When i use the 3.0.3 to create a port ,there is a failure as below,port_security_enabled is not supported by the api."
POST /v2.0/ports HTTP/1.1
X-Auth-Token: 880d22df947f43bba40ff881472d8c7a
User-Agent: OpenStack4j / OpenStack Client
Content-Length: 150
Content-Type: application/json
Host: 172.22.17.41:9696
Connection: Keep-Alive

{
  "port" : {
    "admin_state_up" : true,
    "network_id" : "f4cec486-1a48-4575-9782-b149502adbe3",
    "port_security_enabled" : false
  }
}HTTP/1.1 400 Bad Request
Content-Length:

[2016-11-10 16:57] #884 closed

[2016-11-11 05:31] lsyfg commented on #844
?

[2016-11-11 09:10] pstoyanov91 commented on #885
Hi auhlig,
Thanks! The problem really was with the endpoints.

For those having the same issue: I have changed the **http://ip_addr/identity** to **http://ip_addr:5000/v3** directly in the keystone database. That broke the UI, but the requests with the library are now working. I haven't figured out how to safely change the keystone endpoints after the OpenStack installation, so the best option is

[2016-11-11 09:10] #885 closed

[2016-11-15 02:58] zhoutiekui opened #887 "Openstack4j 3.0.3‘s method :ActionResponse updateTag(String tagkey,String tagvalue) of Glance Image v2 has a bug,it sends the error uri"
ActionResponse updateTag(String tagkey,String tagvalue)
sends:  PUT /v2/images/{tag-key}/tags/{tag-value}, but the {tag-key} should be {image_id} insted.

same error with the method "DELETE /v2/images/{image_id}/tags/{tag}":
openstack4 sends as follow:
DELETE /v2/images/{tag-key}/tags/{tag-value} ,the {tag-key} should be {image_id} insted.

[2016-11-15 10:09] easyit opened #888 "org.openstack4j.model.storage.block.Volume miss bootable property"
As mentioned in this document [http://developer.openstack.org/api-ref/block-storage/v2/?expanded=list-volumes-with-details-detail,show-volume-details-detail](url) , the response from Show volume details  contains:
bootable  boolean	  Enables or disables the bootable attribute. You can boot an instance from a bootable volume.
However, the bootable property is missed in the model `org.openstack4j.mo

[2016-11-16 08:09] zhoutiekui opened #889 "When i use openstack4j 3.0.3/3.0.2's flaotingip method :associateToPort(eipid, portid),there is an error as below,but when i use 3.0.0,it is all right."
method:
netfloatingip's  associateToPort(eipid, portid)

error logs:
Exception in thread "main" ConnectionException{message=could not find writer for content-type application/json type: java.lang.String, status=0}
	at org.openstack4j.connectors.resteasy.HttpExecutorServiceImpl.invoke(HttpExecutorServiceImpl.java:56)
	at org.openstack4j.connectors.resteasy.HttpExecutorServiceImpl.execute(HttpExecut

[2016-11-16 20:31] SeanRMunoz opened #890 "Unable to build using Maven version 2.x, assuming version 3.0+ required"
Attempted build using Maven version 2.2.1 and received the following error:
[see attached: [compile-os4j302-maven221-error.txt](https://github.com/ContainX/openstack4j/files/595837/compile-os4j302-maven221-error.txt)]

[code]
Subsequent build using Maven version 3.3.9 successful. Suggest using `maven-enforcer-plugin` to stop/fail build if using less than Maven version 3.0?

Suggested addition to p

[2016-11-17 08:36] auhlig commented on #888
Hey @easyit,
Thanks for filing the issue.
Would you like to submit another PR to fix this?

[2016-11-17 13:04] auhlig commented on #890
Hi @SeanRMunoz,
Good point.
Thanks for filing the issue and submitting the PR.

[2016-11-17 13:06] auhlig commented on #889
Short-term: Worth trying another connector

[2016-11-17 13:08] auhlig commented on #887
The code in question https://github.com/ContainX/openstack4j/blob/master/core/src/main/java/org/openstack4j/openstack/image/v2/internal/ImageServiceImpl.java#L188.

Could you take a look @emjburns? Many thanks.

[2016-11-17 17:12] emjburns commented on #887
@auhlig yep I'll take a look.

[2016-11-17 17:42] emjburns commented on #887
@zhoutiekui I'm wondering if you're using the methods as intended? Your issues says "Openstack4j 3.0.3‘s method :ActionResponse updateTag(String tagkey,String tagvalue)" but this is not the correct way to call updateTag. You should be calling it using imageId and tagvalue (updateTag(String imageId, String tag)) as documented here: http://www.openstack4j.com/learn/image-v2/#activating-deactivating-

[2016-11-18 07:22] vinodborole commented on #886
Hi @zhoutiekui  As per the documentation, the request xml does not contain the port_security_enabled attribute as by default it is true. I guess that is the reason why the api does not accept this attribute.

here is the doc for create port - http://developer.openstack.org/api-ref/networking/v2/index.html?expanded=create-port-detail

[2016-11-18 08:45] vinodborole commented on #824
There probably is a conflict of jars from your existing project.

[2016-11-19 15:29] auhlig commented on #890
Merged. Thanks again. Can we close this issue @SeanRMunoz ?

[2016-11-20 00:24] mongolkim opened #892 "what is version requirements for openstack4j and maven? any other version required? cos i got issue below:"
Exception in thread "main" java.lang.UnsupportedClassVersionError: org/openstack4j/openstack/OSFactory : Unsupported major.minor version 52.0
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:800)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
	at java.net.URLClassLoader.defineClass(URLClassLoader.java:449)
	at

[2016-11-20 00:25] mongolkim commented on #892
and i utilized this below:
System.out.println(" xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx ");
    	OSClientV2 os = OSFactory.builderV2()
    	            .endpoint("http://10.50.0.10:5000/v2.0")
    	            .credentials("admin", "ADMIN_PASS")
    	            .tenantName("admin")
    	            .authenticate();

[2016-11-21 06:17] vinodborole commented on #892
@mongolkim its the java version problem, u are using an old version of JRE, please use 1.7+

OpenStack4j 3.0.X - Java 7 (JDK 8 preferred)
OpenStack4j 2.0.X - Java 7

[2016-11-21 07:06] zhoutiekui commented on #889
Yes,I try to use jersey2 is ok..The resteasy seems not support the associateToPort(eipid, portid)'s json encoded parameters.
But another queston: how can i set the default connector to jersey2 when i use the jar pacakage with dependency?thanks.

[2016-11-21 07:22] vinodborole commented on #889
By default the API’s are configured to use the Jersey 2 connector. The jar with deps uses jersey2

[2016-11-21 10:28] orzech256 commented on #828
I have the same issue, i did some investigation here, and here are my findings.
To get the Tenant list openstack4j internally creates request for it **/auth/tenants**, but the OpenStack API v2 documentation specifies path without **/auth/**.
In this situation the response for such request it is "Not Found". The status 404 is not propagated to the client and we have empty tenant list without any wa

[2016-11-21 12:02] orzech256 commented on #828
I can see now it was fixed already
see revision: https://github.com/ContainX/openstack4j/pull/670/commits/ee4bf2a2d6746e2bc171c999d188d27f3dff47af

https://github.com/ContainX/openstack4j/pull/670

[2016-11-21 17:30] SeanRMunoz commented on #890
Yes @auhlig this issue #890 has been resolved. Thank you.

[2016-11-21 17:30] #890 closed

[2016-11-22 02:42] easyit commented on #874
Ok, I will work on it

[2016-11-22 18:37] lsarni opened #893 "Put object from InputStream payload doesn't work"
Version: 2.20

I'm trying to upload an object directly from an InputStream by doing this:
`client.objectStorage().objects().put(publicBucketName, externalFileName, Payloads.create(input), objOptions);`
It doesn't fail but it doesn't upload the object either.

But this, uploading from a file, works just fine (actually all the other operations work fine):
`client.objectStorage().objects().put(public

[2016-11-22 19:05] #893 closed

[2016-11-23 07:05] zhoutiekui commented on #889
Hi,vinodborole ,i have tryied with the openstack4j 3.0.2 jar with deps,but still has the error...and i still want to know how to make jersey2 as the default connector when i use the jar other than pom dependency, thanks..

[2016-11-23 07:15] vinodborole commented on #889
Please check http://www.openstack4j.com/learn/getting-started it says jersey2 is the default connector

[2016-11-23 08:38] olivier-schmitt opened #895 "Version 3.0.1 and 3.0.2 does not work with "UntrustedSSL" context"
Hello,

This code :

**Config config = Config.DEFAULT;
config.withSSLContext(UntrustedSSL.getSSLContext());
IOSClientBuilder.V2 v2 =  OSFactory.builderV2()
                    .endpoint(endpoint)
                    .credentials(
                            userName,
                            password)
                    .tenantName(tenantName)
                    .withConfig(config);
return v2

[2016-11-23 09:58] auhlig commented on #828
@llw5266 @orzech256 Can we close since the issues is fixed in a newer version?

[2016-11-23 13:05] #855 closed

[2016-11-25 05:19] #888 closed

[2016-11-25 05:20] #882 closed

[2016-11-25 05:20] #880 closed

[2016-11-25 08:16] zhangjianweibj opened #896 "Unable to create alarm in aodh alrming service using openstack4j"
![image](https://cloud.githubusercontent.com/assets/18585129/20618519/781d57e8-b32a-11e6-845d-a882a4d3ec6a.png)

openstack-n,create alarm,the request is sent to 8777 port, which is telemetry metering service. in fact it should be sent to 8042 port, where the telemetry alarming service is running.

[2016-11-25 08:20] zhangjianweibj commented on #896
![image](https://cloud.githubusercontent.com/assets/18585129/20618607/10763c6c-b32b-11e6-8a6e-da62b2fc46a8.png)

[2016-11-28 06:28] mongolkim opened #897 "how to manage the CPU core num and memory size when creating server"
ServerCreate sc = Builders.server().name("baater2").networks(list_network).flavor("2").image("3ee9e4d2-356d-4f6d-ac0e-6252d5c6930d").build();

			System.out.println(sc.getName());

			Server server = os.compute().servers().boot(sc);
			server.getPowerState();

[2016-11-28 10:32] vinodborole commented on #897
@mongolkim CPU and memory are part of the flavor, you manage the flavor for a particular size of CPU or memory

[2016-11-28 14:25] easyit commented on #863
please refer to this API inside the ServerService:
`
    String createSnapshot(String serverId, String snapshotName);
`

[2016-11-29 06:15] zhoutiekui commented on #886
hi,vinodborole,have this question fixed in the released 3.0.3 version? thanks

[2016-11-29 06:19] zhoutiekui commented on #895
We have encountered the same error.

[2016-11-29 06:45] zhoutiekui commented on #889
![image](https://cloud.githubusercontent.com/assets/12118828/20699463/6c8faeec-b642-11e6-8f39-91fa813ccf5d.png)

[2016-11-29 07:19] zhoutiekui commented on #887
I have confirmed ,it is my mistake ,thanks @auhlig @emjburns

[2016-11-29 14:31] emjburns commented on #887
@zhoutiekui no problem. Happy to help!

[2016-11-29 16:19] auhlig commented on #887
Thanks @emjburns

[2016-11-29 16:19] #887 closed

[2016-11-30 23:18] aiionx commented on #874
Its there already
https://github.com/ContainX/openstack4j/commit/90ea00add7cac534146a0c9fe6581ebeb73f184c

But snapshot_id is not supported it seems
The parameters you can send are:
[code]

[2016-12-02 03:09] aiionx commented on #874
Creating a volume backup from a Snapshot, which is supported in v2, is not implemented yet.
It is already implemented and supported in the openstack CLI.

Example:

```(openstack) volume backup create bf20730c-ddcb-4935-8b23-2ae7318bd274 --snapshot b4b3258d-555a-4fce-8f53-69cc2ae96d3c```

### 1. Lets get the volume data

REQ:
[code]

RESP:
[code]

RESP BODY:
[code]

### 2. Lets get the snapshot da

[2016-12-02 06:53] vinodborole commented on #874
thanks a lot @aiionx, appreciate your help here.

[2016-12-02 07:32] #828 closed

[2016-12-02 08:53] aiionx commented on #874
Thanks,

snapshot_id is still not documented at
http://developer.openstack.org/api-ref/block-storage/v3/?expanded=create-a-backup-detail

So I will include that, and the force option too.

[2016-12-03 21:32] bouskaJ opened #899 "[Query] identity project list returns no project every time"
Hi I am struggling with usage of Identity Service (Keystone) V3.

I am not able to execute any operation with identity service.
I have example with projects list.

I am using OS client like this:
[code]
and the result is 0 every time but when I execute command
[code]

I will get:
+----------------------------------+--------------------+
| ID                               | Name               |
+--

[2016-12-04 14:31] auhlig commented on #899
Hi @bouskaJ,
Could you share more details? Logging of requests and responses should help.

[2016-12-04 14:31] auhlig commented on #897
Can this be closed @mongolkim?

[2016-12-04 18:52] bouskaJ commented on #899
@auhlig sure.

This is the simple method I run:

[code]

And I have captured this two packet in wireshark:

1.
`Hypertext Transfer Protocol
    GET /identity/projects HTTP/1.1\r\n
        [Expert Info (Chat/Sequence): GET /identity/projects HTTP/1.1\r\n]
            [GET /identity/projects HTTP/1.1\r\n]
            [Severity level: Chat]
            [Group: Sequence]
        Request Method: GET

[2016-12-04 18:58] auhlig commented on #899
Check the token's catalog for the identity v3 entry. The endpoint should be something like `http://<fqdn>:5000/v3` .

[2016-12-04 19:46] bouskaJ commented on #899
I am not sure if I understand you properly but I try to check token generation in this way:
I debug this method https://github.com/ContainX/openstack4j/blob/master/core/src/main/java/org/openstack4j/core/transport/HttpRequest.java#L401

It runs twice
- in first run the provider is null (it is the initial authentication)
- In the second run getTokenId () method returns the token as I expect

[2016-12-04 21:46] bouskaJ commented on #899
Sorry I have made a little digging in code I understand you now. The token service returns catalog which contains wrong URL (*http://172.24.1.69/identity*) but I need *http://172.24.1.69/identity/v3* so it seems that is the DevStack bug. Am I right?

[2016-12-05 17:15] auhlig commented on #899
Yes. You could either stick to the defaults (`http://<fqdn>:5000/v3`) or write a custom resolver in OpenStack4j (see docs/FAQ).

[2016-12-05 17:15] auhlig commented on #899
BTW: What was that NPE? Could that be a bug?

[2016-12-05 18:38] bouskaJ commented on #899
@auhlig First I want to say thanks for help with my issue.

About the NEP: It seems that in master branch is the bug with NPE fixed. I am using the version 3.0.2. The NPE rises on [this](https://github.com/ContainX/openstack4j/blob/openstack4j-2.0.2/core/src/main/java/org/openstack4j/openstack/identity/internal/DefaultEndpointURLResolver.java#L101) line and it is fixed by [this](https://github.com

[2016-12-06 00:17] auhlig commented on #899
You're welcome @bouskaJ. Hope you like OS4j :)
Yes. I remembered this NPE. Just wanted to reaffirm it's fixed.

Can we close this issue?

[2016-12-06 08:35] bouskaJ commented on #899
I have one more question. I try to use the solution you suggested me but It did not work for me.
I created new config as it is mentioned in FAQ but the resolver still returns me wrong URL. So I take a look to URL resolution and I am not sure that the new config is really used. Can you please verify it?

Look at [this](https://github.com/ContainX/openstack4j/blob/master/core/src/main/java/org/opens

[2016-12-08 13:14] auhlig commented on #899
Strange. I cannot see the p.resolver part either. Long time ago when I wrote this.
In Identity V2 (1) https://github.com/ContainX/openstack4j/blob/6c3451d7073282535d5982b6bcc72eba28b7d0ba/core/src/main/java/org/openstack4j/openstack/identity/internal/DefaultEndpointURLResolver.java#L90 leads to (2) https://github.com/ContainX/openstack4j/blob/6c3451d7073282535d5982b6bcc72eba28b7d0ba/core/src/main/

[2016-12-08 20:22] bouskaJ commented on #899
Hi @auhlig . I don't think that this would be so simple. I have tried something but I hit some problems.
The first of all is that the resolver takes a SortedSet as an argument. I was not able to sort service catalog because the services are compared by version and all services given by V3 API has not set the version (the version is null and it leads to NPE). I think that this is the reason why the

[2016-12-08 20:29] bouskaJ commented on #899
I asked a question about ServiceCatalog on OpenStack forum. You can see the answer https://ask.openstack.org/en/question/99971/should-not-be-version-of-identity-api-included-in-service-catalog/ . I think that the answer on ask.openstack is right (by suggested documentation) and Openstack4J should cope with this behaviour.

[2016-12-09 09:30] auhlig commented on #899
At least the time when we added identity v3, the endpoint was version-specific.
Anyway, you're right. If that changed, Os4j should reflect that.
An easier solution for the identity v3 case could be simply checking if the identity endpoint ends with v3 and append it if not. Not?

[2016-12-09 11:40] piotrroztkowski opened #901 "Some attributes for CinderVolume and Hypervisor are not supported"
CinderVolume attribute os-vol-host-attr:host is available through REST API but not supported by OpenStack4J. Hypervisor (os-hypervisor) attributes state and status are available through REST API but not supported by OpenStack4J

[2016-12-09 14:09] #892 closed

[2016-12-09 14:12] auhlig commented on #901
Hey @piotrroztkowski ,
Thanks for reporting.
Would you like to contribute and submit a PR to address this?

[2016-12-09 14:12] #897 closed

[2016-12-09 15:44] bouskaJ commented on #899
Yes it could work but I think that it is not the best way. You should follow the REST approach as is described in the documentation mentioned in response to my question on ask.openstack.

So in opinion the best way is to check the status code and in case it is 300 search for endpoint in the HTTP response.

[2016-12-09 15:50] bouskaJ commented on #899
I check the behavior on my OS instance:
[code]

So the valid endpoints URLs are really included in HTTP response.

[2016-12-10 04:02] OpenStacksh commented on #822
@tovinayv  Hi, I have the same problem just like you when i use version 3.0.2. do you have solve the problem?can you give me some advise. Thanks

[2016-12-10 04:04] OpenStacksh commented on #895
@olivier-schmitt  Hi, I have the same problem just like you when i use version 3.0.2. do you have solve the problem?can you give me some advise. Thanks

[2016-12-10 09:50] olivier-schmitt commented on #895
Hi, i use version 3.0.0 without bugs for now.

[2016-12-10 15:21] auhlig commented on #899
I'm aware of the endpoint discovery, described above. You're right, this should be implemented in Os4j. I'm too busy to do this myself atm, but if your willing to work on this (after your deadline), I'd like to support. Maybe worth getting this into a separate issue so at least we don't forget.

[2016-12-11 11:01] bouskaJ opened #902 "Keystone endpoint discovery does not work with some OpenStack instances."
You can find more info in https://github.com/ContainX/openstack4j/issues/899

[2016-12-11 18:45] auhlig commented on #902
Short summary: Implement Identity service discovery.
Initial `GET /identity`returns
[code]
Extract endpoint of the identity service from the response.
Os4js Identity V2 service should only get the v2-endpoint and v3 the v3-endpoint.

[2016-12-12 13:00] piotrroztkowski commented on #901
Hi,

Yes, we can contribute and address these issues but we need some time to create development environment for OpenStack4j.

From: Arno Uhlig [mailto:notifications@github.com]
Sent: Friday, December 09, 2016 3:12 PM
To: ContainX/openstack4j <openstack4j@noreply.github.com>
Cc: Roztkowski, Piotr <Piotr.Roztkowski@dynatrace.com>; Mention <mention@noreply.github.com>
Subject: Re: [ContainX/openstac

[2016-12-12 13:50] auhlig commented on #901
That's great!
Looking forward to your PR.
Let us know in case you need help.

[2016-12-12 13:51] auhlig commented on #899
Does it make sense to close this issue in favor of #902 to avoid duplication @bouskaJ ?

[2016-12-12 17:42] bouskaJ commented on #899
Sure. You can close it.

[2016-12-13 08:07] #899 closed

[2016-12-13 08:37] silvanstrueby opened #903 "Unable to remove the last route from the Router"
I have a static route on my router.
As far as I can see, unfortunately it's impossible to delete the last route from a router with this API.
[code]
Because if there are no routes left in the router, the body of the router-update-request is getting parsed without the attribute routes.
[code]
That's why the routes won't get updated.
It would work if the body is getting parsed like this.
[code]
Even

[2016-12-16 11:53] zhangfnf commented on #886
I have similar  problem too when I use the port's update method with the newest 3.0.3 version.
However , it works well with 3.0.2 version.

The exception is as below:
`ClientResponseException{message=Unrecognized attribute(s) 'port_security_enabled', status=400, status-code=BAD_REQUEST}`

It seems like that the json string from "NeutronPort" have an unexpected attribute "port_security_enabled" bec

[2016-12-16 12:04] auhlig commented on #886
Hi @zhangfnf,
Thanks for reporting.
Potentially Vinod's commit can fix the issue https://github.com/vinodborole/openstack4j/commit/bbe7d08377f619fbde481a169d1c8320fcb2e362 ?

[2016-12-16 12:06] auhlig commented on #768
Apologies. I missed this one.
Added a comment. Besides that looks good @vinodborole.

[2016-12-22 13:50] daizh opened #905 "get "ConnectionException{message=Already connected, status=0}" in V3 Auth"
Hi, guys

I can get throught the V3 authentication, but when I do any real operation (create flavor, list images etc.), I get "ConnectionException{message=Already connected, status=0}" error.

My code:
[code]
[code]

My error log:
[code]
My maven:
[code]

Currently, I'm using  **V3 authentication** and **jersey connector** on **Mitaka Openstack**, and encountering the above problem.

Previously, I

[2016-12-22 15:28] auhlig commented on #905
Authentication looks good.
It complains about an invalid hostname.
The stacktrace shows the uri `http:/v2.1/f8e48f7719df4700a87cbd3cf72ec963/flavors`, in which the fqdn and port are missing. (http://<fqdn>:<port>/<path>)
The initial authentication should return the token, that contains a service catalog.
This should contain a valid endpoint for compute. Could you check, that's the case?

[2016-12-22 15:36] auhlig commented on #886
Did #904 fix the issue @zhangfnf @zhoutiekui ?
If so please close.

[2016-12-22 15:37] auhlig commented on #768
PR merged. Please close this issue, if you it's fixed @gurumeditator.

[2016-12-22 17:34] auhlig commented on #903
Hey @silvanstrueby ,
Is this missing in OpenStack iitself? Or do we need to update OpenStack4j? If so, you're very welcome to submit a PR.

[2016-12-23 11:58] auhlig commented on #896
PR merged. Please close if the issue is fixed @zhangjianweibj.

[2016-12-23 12:00] auhlig commented on #877
Hey @whaon, What is the status of the PR

[2016-12-23 12:02] auhlig commented on #874
Hi @aiionx,
Please close the issue if it's fixed.

[2016-12-23 12:05] auhlig commented on #767
Closing since this is more a question for stackoverflow or the google group rather than an issue.

[2016-12-23 12:05] #767 closed

[2016-12-23 12:08] auhlig commented on #639
Closing since the it's undocumented and Identity V2 is deprecated anyway

[2016-12-23 12:08] #639 closed

[2016-12-23 12:11] auhlig commented on #650
Closing since there doesn't seem to be an issue in OS4j and this is rather for stackoverflow or the google group.

[2016-12-23 12:11] #650 closed

[2016-12-23 12:11] #727 closed

[2016-12-23 12:13] auhlig commented on #724
Missing header in the response could indicate an error in your OpenStack rather than in our client library.
Closing.

[2016-12-23 12:13] #724 closed

[2016-12-23 12:28] #896 closed

[2016-12-23 15:33] aiionx commented on #874
Hi

@easyit opened the issue.
I came later.
So, I think I cant close it.
But indeed this is fixed by him and later I added a bit more.

Thanks.

[2016-12-26 03:39] gwhhub opened #906 "getConsoleOutput() throw exception"
`os.compute().servers().getConsoleOutput("8ddc300b-8c1c-413f-8d3d-e4cab5570767", 2)`
throw exception
Exception in thread "main" ConnectionException{message=could not find writer for content-type application/json type: java.lang.String, status=0}
	at org.openstack4j.connectors.resteasy.HttpExecutorServiceImpl.invoke(HttpExecutorServiceImpl.java:56)
	at org.openstack4j.connectors.resteasy.HttpExecut

[2016-12-26 03:55] df101 commented on #906
I also meet the same problem@auhlig

[2016-12-26 03:56] fitcoderyoung commented on #906
I've had this problem too,please solve it as soon as possible!

[2016-12-26 07:51] daizh commented on #905
Thanks for replying.

This should contain a valid endpoint for compute. Could you check, that's the case?

I've checked the catalog, and I found out the "endpoints url" is something like `http://mitaka_control:8774/v2.1/f8e48f7719df4700a87cbd3cf72ec963`. It seems openstack4j.connector dosen't recognize `mitaka_control` as  a valid host.

[2016-12-26 09:14] daizh commented on #905
I've solved it. The problem is because my working machine dose not resolve host name `mitaka_control` to any specific IP. After I edit the system hosts file, the problem disappears.

[2016-12-26 09:14] #905 closed

[2016-12-26 10:29] auhlig commented on #906
Hi guys,
I'm aware of this.
Worth trying a different connector for now.

[2016-12-26 16:13] auhlig commented on #906
Is someone, who is able to reproduce the error, volunteering to look into this? Maybe it's matter of maven dependencies. Would be much appreciated. @gwhhub @df101 @fitcoderyoung

[2016-12-27 11:56] liukun5 commented on #525
@dixitdesire  Now , Is able to upload chunk objects into swift with the openstack4j?

[2016-12-27 12:02] auhlig commented on #906
Duplicate of #795. Closing.

[2016-12-27 12:02] #906 closed

[2016-12-30 21:40] jhiemer opened #907 "checkProjectGroupRole throws NullPointException if mapping does not exist"
When executing the checkProjectGroupRole if get NPE. Stack trace is as follows:

[code]

[2016-12-30 21:42] jhiemer opened #908 "Include Java source in build"
For debugging purposes it would be really helpful if you could include the Java source in the Maven release. This would help a lot to step into some methods and understand the code base without going to Github.

[2016-12-30 21:49] auhlig commented on #907
Hi @jhiemer,
Thanks for reporting.
I thought I covered that with a test. I'll take a look

[2017-01-02 09:14] PavanVadavi opened #909 "Openstack Glare"
Hello,
Me and my team are working on Openstack Glare(Artifact service) component. We saw that openstack4j does not support Artifact service.

Hence we would like to contribute to openstack4j to support Openstack Glare(Artifact service) component.

Please share any detailed development guidelines for the same.

Thanks,
Pavan Vadavi

[2017-01-02 10:26] vinodborole commented on #909
@PavanVadavi Thanks a lot for your support, we do not have a strict guidelines defined as the framework is quite easy to understand, however here is few guidelines we have mentioned https://github.com/ContainX/openstack4j/blob/master/CONTRIBUTING.md Please go ahead and contribute and let us know if you need any specific details.

[2017-01-03 19:28] auhlig commented on #909
Cool. Thanks for contributing.
Could you also include unit or integration tests that cover the code changes?
Feel free to reach out in case you need help.

Looking forward to your PR @PavanVadavi.

[2017-01-04 03:58] ScottMaclure opened #911 "NeutronPort should capture all API response data, including created_at?"
http://www.openstack4j.com/learn/network/#ports

http://www.openstack4j.com/javadoc/org/openstack4j/openstack/networking/domain/NeutronPort.html

http://developer.openstack.org/api-ref/networking/v2/?expanded=show-load-balancer-details-detail,show-port-details-detail

I'm after `created_at` specifically.

[2017-01-04 08:43] auhlig commented on #911
Thanks for filing an issue @ScottMaclure.
I agreed. Maybe the attribute was introduced later. Would you like to submit a PR and fix the issue?

[2017-01-04 14:53] lsarni opened #912 "Unable to retrieve current session. Please verify thread has a current session available."
I'm getting the following error when uploading a file, but unlike #745 it's not multi thread.

[code]

Here is the code I'm using to create the client and upload the file
[code]

Is there something wrong with how the client is created? In most cases this uploading method seems to work just fine, but in one of my case scenarios it fails with this exception.
Is this problem definitely related to thr

[2017-01-04 16:07] auhlig commented on #912
Hi @lsarni,Does the authentication and subsequent swift command, you pasted above, work?

[2017-01-04 16:30] lsarni commented on #912
@auhlig Yes, the authentication works. I can handle the files just fine in most situations, the upload fails only in one of my scenarios (but I can't find out why it only fails in that case).

The `scopeToProject` takes two parameters, I'm using 2.20, so maybe your hint is in the newer versions.

[2017-01-04 16:51] auhlig commented on #912
Right for 2.20.

Most of OS4js Identity V3 was released with version 3.0.0 .
AFAIK the issue, you pasted above, is resolved in that version.

[2017-01-04 17:01] lsarni commented on #912
@auhlig I will try an upgrade, although I'm not sure if I can.
I will close the issue if it works or if I can´t upgrade.
Thanks

[2017-01-04 18:42] m-kochaji opened #913 "SSLContext/HostnameVerifier change in org.openstack4j.core.transport.Config is ignored"
I came across this while testing SSL certificate validation against a secure Openstack (https endpoints).

Here are some steps to reproduce:
1. Create a Config** with an initialized SSL context that points to an empty truststore
2. Attempt authenticating with secure Openstack --> authentication should fail since truststore is empty
3. Modify SSLContext within the Config object created in step 1 to

[2017-01-04 20:22] auhlig commented on #913
Hey @m-kochaji,
Many thanks for investigating and reporting.
Since you already seem to have a solution: Would you like to contribute and submit a PR?

[2017-01-04 22:20] m-kochaji commented on #913
@auhlig Yes, I can do that. Can you mark this is a bug and let me know the steps in order to pull/modify/push the code back for code review?

[2017-01-04 22:28] m-kochaji commented on #895
@olivier-schmitt Hi, this might be related to this Config caching issue - https://github.com/ContainX/openstack4j/issues/913

You can find out by modifying other parameters in the config such as the max connections (choose something arbitrary like: config.withMaxConnections(7370)

[2017-01-04 23:27] auhlig commented on #913
Sure. Just fork this repo, create a branch in which you implement the fix and create a PullRequest against our master branch. Then we review.
Feel free to reach out in case you need help.

[2017-01-05 10:26] auhlig commented on #895
Sorry for missing the issue. Not sure what relevant parts changed from 3.0.0 to 3.0.2.
Worht trying a different connector. @olivier-schmitt

[2017-01-05 12:31] lsarni commented on #912
Fixed by upgrading to 3.0.3

[2017-01-07 09:00] tongh-qtl commented on #863
@easyit this is the operation of a snapshot,but we need is **Creates an image from a server**
it is a different stuff

[2017-01-09 12:12] liujunpengwork opened #915 "500 ERRO when create image with non-iso name"
I got error 500 when I create a image with non-iso name.
the code as follow:
image = osclient.images().create(
               Builders.image()
               .name("中文").ispublic(true)
               .containerFormat(ContainerFormat.BARE)
               .diskFormat(DiskFormat.QCOW2).build(),
               Payloads.create(new File("test.img")));
I use httpclient connector,and openstack is mitaka.

[2017-01-10 08:00] ahmetkarakaya opened #916 "Automatically Update Access Token"
After authenticated I use `access ` until it expires, but when it is expired it does not updated automcatically,
Do I need to check Access() is expired or not manually inside an other thread?

			os = OSFactory.builder().endpoint("http://" + ip + ":5000/v2.0")
				.credentials("testtimsoperator", "123456")
				.tenantName(bipTenantName)
				.perspective(Facing.ADMIN)	//Container oluşturmak için

[2017-01-10 10:57] silvanstrueby commented on #903
Hi @auhlig,
I would like to create a PR with my fix.
I tried to push my branch but obviously I'm not entitled to do so. Could you please give me a quick hint how i could create a PR?
Thx

[2017-01-10 12:13] vinodborole commented on #903
@silvanstrueby
You push to your forked copy and create a Pull request from the git gui;

[2017-01-11 17:07] lsarni opened #918 "Object Storage: Download object and write to file"
I'm using this to download an object and write it to a file:
client.objectStorage().objects().download(publicBucket, externalFileName).writeToFile(new File(localFile));

I was expecting it to fail with a StorageException if the object didn't exist but this is not the case, it creates a file of 70 bytes.
Is this the expected outcome? I was expecting the http response to be not found and that to be

[2017-01-11 21:35] auhlig commented on #915
Could you share more details @liujunpengwork?
For instance some logs, rest request and response..

[2017-01-11 21:43] auhlig commented on #918
Mh. At first glance yes. Could you check the response from Swift, @lsarni ?

[2017-01-12 11:46] auhlig commented on #916
Hi @ahmetkarakaya
Reauthentication should be triggered in case the code of the response is 401.
Could you check that's the case?

[2017-01-12 12:20] lsarni commented on #918
Using [this](http://developer.openstack.org/api-ref/object-storage/?expanded=create-or-update-object-metadata-detail,get-object-content-and-metadata-detail#get-object-content-and-metadata) I get:

[code]

I also tried it on a console app, outside my main project, and it still downloads a file.

[2017-01-12 13:32] lsarni opened #919 "Object Storage: ConnectionException on put"
I'm doing this to create a folder (I know there isn't such a a thing as a folder but well):

[code]

This worked just fine with version 2.20, but since I had to upgrade to 3.0.3 I get a ConnectionException. The message of the exception comes null and this is the stack trace:

[code]

[2017-01-12 14:14] auhlig commented on #919
Could you try another connector?

[2017-01-12 14:20] auhlig commented on #918
Looking at the content lenght, I guess the response is written to the file?

[2017-01-12 14:22] lsarni commented on #918
Yes, I was trying to download an image but if I download a txt the content is:

<html><h1>Not Found</h1><p>The resource could not be found.</p></html>

[2017-01-12 19:14] auhlig commented on #918
Mh. It should return null, as the download() method leads to get(), looking at https://github.com/ContainX/openstack4j/blob/master/core/src/main/java/org/openstack4j/openstack/storage/object/internal/ObjectStorageObjectServiceImpl.java#L82 .

[2017-01-13 12:13] lsarni commented on #918
If I download without writing to the file it doesn't fail either, it returns a DLPayload that has an HttpResponse saying 404 Not Found.

[2017-01-13 17:55] auhlig commented on #918
Ok. I'll mark it as a bug.
Since you're already familiar with the issue, would you like to contribute and fix it @isarni?
Would be much appreciated.

[2017-01-13 21:34] ahmetkarakaya commented on #916
@auhlig  yes reauthentication is triggered but newly taken token just used for one request, for other request to be invoked, same steps are repeated, I mean first token is used so having 401 error then taken new token  to retry the request,  I have updated my question by adding sample code portion.  As you can see than I have added a delay to expire the token , after then invoking findUserByName()

[2017-01-14 14:22] auhlig commented on #916
Understood. Renewed token only used for request. Original token still assigned to session.

Here https://github.com/ContainX/openstack4j/blob/master/connectors/http-connector/src/main/java/org/openstack4j/connectors/http/HttpExecutorServiceImpl.java#L61 we check if the response code is 401, in which case the we trigger re-authentication in ll. 64 and assign the new token to the current request htt

[2017-01-15 09:47] ahmetkarakaya commented on #916
I have found my faulth which is I am always invoking "OSFactory.clientFromAccess(access);" before calling a request and using the same access token.
When I have used  OSClient directly  instead of  OSFactory.clientFromAccess(os.getAccess(), Facing.ADMIN),

But I am trying to find a solution to a case that
How can I use a single os client with different facing, I need such a case that  there many r

[2017-01-15 13:51] auhlig commented on #916
No bug then :sweat_smile:
Threading maybe. Can we close the issue, since there seems to be no bug? Maybe the google group or stackoverflow community can be of help.

[2017-01-15 14:29] ahmetkarakaya commented on #916
thanks

[2017-01-15 14:29] #916 closed

[2017-01-16 07:06] liujunpengwork commented on #915
## Request
[2017-01-16 14:55:56.511] [DEBUG] [main] [org.apache.http.wire] [org.apache.http.impl.conn.Wire.wire(Wire.java:72)] - [http-outgoing-1 >> "POST /v1/images HTTP/1.1[\r][\n]"]
[2017-01-16 14:55:56.511] [DEBUG] [main] [org.apache.http.wire] [org.apache.http.impl.conn.Wire.wire(Wire.java:72)] - [http-outgoing-1 >> "Accept: application/json; charset=utf-8[\r][\n]"]
[2017-01-16 14:55:56.511]

[2017-01-16 09:06] easyit opened #920 "expose os-vol-host-attr:host in Volume model"
As mentiond in [http://developer.openstack.org/api-ref/block-storage/v3/?expanded=list-accessbile-volumes-with-details-detail](url) ,  the os-vol-host-attr:host	contains current back-end of the volume. Could we add extra interface in the Volume model as below and return this info ?
`String getBackend()`

[2017-01-16 20:46] ahmetkarakaya opened #921 "Pooledconnection Manager"
Current API version 3.0.3 has two type of connection manager
SingleClientConnManager  and ThreadSafeClientConnManager.  SingleClientConnManager   is defaut one.
I expect that ThreadSafeClientConnManager is used to pool the connection to be used over again and again without closing them.. But I could not find any sample code or totorial,
So how I can code pooledconnectionmanager in openstacj4j

Tha

[2017-01-17 11:39] lorenzotomasini commented on #875
I think we too hit this bug when having a "big" image size:

[code]

is this fixed in the SNAPSHOT version?
Thanks

[2017-01-17 14:50] lsarni commented on #919
Is there a way of doing this without using maven?

[2017-01-17 15:08] vinodborole commented on #875
@whaon will you be able to take this now as we have our 3.0.3 release in place

[2017-01-17 17:46] auhlig commented on #920
Hi @easyit, Sure. You know the drill :) Waiting for your PR.

[2017-01-17 17:48] auhlig commented on #919
Maybe. I'd recommend the maven way, as described in our docs.

[2017-01-17 17:49] auhlig commented on #915
Cool @liujunpengwork.
Since you already found the root cause, would you like to contribute and submit a fix?

[2017-01-18 15:58] lorenzotomasini commented on #875
we, @mpauls and me, can confirm that this issue is not existing in the V3 list images. But we were not aware of the limitation in the number of results:

[code]

that is the reason why we tried V2 and the getting the error.

[2017-01-18 16:50] lsarni commented on #919
It worked with OKHTTP, thanks

[2017-01-18 16:50] #919 closed

[2017-01-19 04:25] sohaninfo opened #922 "Magnum APIs support in OS4J"
OS4J currently does not support Magnum APIs. to manage container orchestration engines. I am going to work on it. Please let me know if anybody is already working on it or wants to work on it.

Thanks

[2017-01-19 06:47] vinodborole commented on #922
@sohaninfo that would be great; thanks a lot

[2017-01-22 12:33] auhlig commented on #903
PR merged. Thanks a lot for your contribution @silvanstrueby .
Can the issue  be closed?

[2017-01-22 14:29] #903 closed

[2017-01-23 03:59] zhoutiekui commented on #913
@auhlig @m-kochaji   It is a great work, when will this fix merged into the release version? thanks

[2017-01-23 07:06] hrchu commented on #525
Chunked transfer encoding and multipart upload are different things. (in swift) It seems that openstack4j does not support both of them.

[2017-01-23 10:23] hrchu opened #924 "Cannot get endpoint name or type"
os.identity().serviceEndpoints().listEndpoints().forEach(v -> System.out.println(v));
[code]

[2017-01-23 10:47] sohaninfo commented on #922
Could someone help me find the list of Magnum REST APIs ? I tried to look into the OpenStack documentation and it looks like that  the documentation is not ready yet. The only possible way is to look into Python code. If someone already has it, it would be a great help. Thanks!

[2017-01-23 11:39] auhlig commented on #913
I just merged. It's included in the latest snapshot version and will be in the 3.04 release

[2017-01-23 11:52] rakhmerov opened #925 "OpenStack Workflow (Mistral) support"
Hi,

We'd like to add support for Mistral Workflow Service. We need it in our product we're building based on Mistral. Let me know if it's ok with you.

Renat

[2017-01-23 11:52] auhlig commented on #922
Maybe the documents in here https://github.com/openstack/magnum/tree/master/api-ref/source

[2017-01-23 11:54] auhlig commented on #925
Hi @rakhmerov,
Sure. That would be cool. Feel free to reach out to us in case you need help.

[2017-01-23 12:03] auhlig commented on #924
Does the json-response contain these attributes?

[2017-01-23 13:29] auhlig commented on #913
Can this issue be closed @m-kochaji ?

[2017-01-23 14:58] #913 closed

[2017-01-24 10:54] rakhmerov commented on #925
Ok. Thanks. I'm planning to start working on it soon.

[2017-01-26 06:44] sohaninfo commented on #922
@auhlig thank you! it proved very helpful.

[2017-01-26 14:44] sbaier1 opened #927 "Putting an empty file on a swift container leads to an exception"
There appears to be a bug when attempting to upload empty files / streams into a Swift container.
[code]
The same happens when attempting to put an empty InputStream.
The exception thrown:
[code]

Just appending any character to the file / stream fixes the problem.

However using touch and then putting the file using the commandline tool works just fine, so this appears to be an openstack4j issue.

[2017-01-26 14:56] auhlig commented on #927
That is a known bug in resteasy. A different connector fixes this. Please look at the other open issues.

[2017-01-26 14:57] #927 closed

[2017-01-27 12:51] petergardfjall opened #928 "Timestamps are incorrectly parsed in Ceilometer statistics"
Running openstack4j 3.0.3 I see some weird parsing behavior when query results from Ceilometer are being deserialized.

The following code:
[code]

yields the following result (with request logging turned on):
[code]

As can be seen, the `periodStart` and `periodEnd` fields in the returned `CeilometerStatistics` objects are incorrect when we compare them to the `period_start` and `period_end` fiel

[2017-02-01 09:55] taemin77 opened #929 "Check for support about some openstack APIs"
Hi,
I'm doing a openstack APIs test by using openstack4j.
But, I could find several APIs on openstack4j document.
One is Compute>Servers - run an action>evacuate.
and Compute>Compute services (os-services)>List Compute Services.
Could I know that you have plan to support above APIs?
thank you in advance.

[2017-02-02 01:35] taemin77 commented on #929
I checked Compute>Compute services (os-services)>List Compute Services  In lately Snapshot Version.

[2017-02-03 00:26] ZsergUA commented on #928
AFAIK, the parser is expecting milliseconds after 'dot'. But in this response (this is common for openstack and python) 426000 are microseconds.
So it is treated as millis and we are getting `426000 ms = 426s = 7m 6s` which you can see your result is bigger exactly on that value.
_j.u.Date_ class knows nothing about microseconds and common java parsers, and even _com.fasterxml.jackson.databind.uti

[2017-02-03 11:59] auhlig commented on #929
Hi @taemin77,
I guess it's currently not supported in Os4j, but you're very welcome to submit a PR and fix that.
Feel free to reach out to us in case you need help.

[2017-02-03 12:02] auhlig commented on #928
Since you already digged in to the details, would you like to submit a fix @ZsergUA?
Would be much appreciated.

[2017-02-06 14:52] lsarni commented on #912
@auhlig I thought it was fixed but now I still get the same error occasionally, I run the program and normally it works but occasionally it fails with this error.
Before upgrading to v3 this used to fail every time.

[2017-02-07 14:26] lsarni commented on #628
Could it be possible to add something to update `"X-Container-Meta-Temp-Url-Key" `for a specific container?

Maybe something like:
`osClient.objectStorage().containers().updateTemporaryUrlKey(container, key);`

[2017-02-07 15:09] lorenzotomasini commented on #875
Hi!

Is there any update on this issue?

[2017-02-07 16:20] lsarni commented on #912
I have changed the way I authenticate to the one recommended:

[code]
And I'm using v 3.0.3 with the okhttp connector.

The error keeps occuring, with the same stack trace.

[2017-02-08 03:44] liukun5 commented on #676
@akashgarg51  I use the getToken() method the OSClientV3 offers also is error, the error is HTTP/1.1 404 Not Found    openstack4j:3.0.3 has not fix this issue?

[2017-02-08 07:12] vinodborole commented on #875
#876 I have reopened the pull request for this issue, lets review it

[2017-02-08 11:13] vinodborole commented on #875
@lorenzotomasini  Its merged, use the snapshot version

[2017-02-08 12:17] auhlig commented on #676
Could you share more details?

[2017-02-08 12:21] auhlig commented on #912
Could you share more info? What did you do @lsarni? Just authentication and get session() ?

[2017-02-08 14:14] lorenzotomasini commented on #875
Thanks!

[2017-02-08 14:36] lsarni commented on #912
I was doing a couple of things between the authentication and the put (as getting the endpoint url for swift and updating the `"X-Container-Meta-Temp-Url-Key"`) but I commented those out and the problem remains.

So now I'm just using openstack4j to do this:
[code]

Apart from that I'm using Apache Tomcat 7.0 to run the web app that calls this methods. Whether the container I'm using is public or

[2017-02-08 17:08] ziliop opened #930 "TroveDatastore"
TroveDatastore is mapped to be readOnly, but when there is no default datastore configured to create database instances it is mandatory to send datastore as below:

{
    "instance": {
        "flavorRef": "723f5075-677e-4ace-acec-cd2e0a9625ba",
        "name": "jsoninstance",
        "users": [
            {
                "name": "demouser",
                "password":"demouser"
            }

[2017-02-09 01:25] #929 closed

[2017-02-09 03:27] liukun5 commented on #525
@hrchu  thanks . because of use openstack4j upload large file is too slow ,so I think upload chunk objects into swift,  but  im not able to find any api which will send the json in paylod so swift can merge it internally

[2017-02-10 08:52] liukun5 commented on #676
I have solved the problem , the error happen is due to not set region after get client , As follows:

client = OSFactory.clientFromToken(token);
 client.useRegion(s3config.getRegion());

thanks

[2017-02-10 09:15] liukun5 commented on #558
@LiamHaworth ,  I also to know how to get the public url , are you fix the problem?

[2017-02-10 10:43] auhlig commented on #930
Thanks for investigating. Would you like to submit a fix @ziliop?

[2017-02-10 12:04] auhlig commented on #558
Hi guys,
Right, looks like that's not implemented.
You could condense the code above in a function and add the attribute `publicUrl` to the class https://github.com/ContainX/openstack4j/blob/master/core/src/main/java/org/openstack4j/openstack/storage/object/domain/SwiftObjectImpl.java#L28-L39.

Would you like to contribute that @LiamHaworth?
Feel free to ping me in case you need help.

[2017-02-13 02:39] liukun5 commented on #558
I know ,thanks

[2017-02-13 08:04] Cherry522 commented on #606
@Silence803  I modified the code according to what you said ,but it still doesn't solve it.
@auhlig  I just tested the 3.0.4-SNAPSHOT version, but it still doesn't solve it.
 I modified the source code to solve this problem.
And I commit a pull request.

[2017-02-14 02:27] Cherry522 opened #933 "There is no 'MTU' property in openstack4j's network"
There is no 'MTU' property in openstack4j's network，but there is a return to the property in the OpenStack API.

[2017-02-14 06:35] Cherry522 opened #934 "There is no 'vnicType' property in openstack4j's port"
There is no 'vnicType' property in openstack4j's port，but there is a return to the property in the OpenStack API.

[2017-02-14 06:37] Cherry522 opened #935 "DHCP cannot be enabled or disabled when modifying a subnet"
DHCP cannot be enabled or disabled when modifying a subnet.

[2017-02-14 06:48] Cherry522 opened #936 "java.lang.NullPointerException:org.openstack4j.openstack.common.ListResult<T>.first()"
java.lang.NullPointerException in first() method：
org.openstack4j.openstack.common.ListResult<T>.first();

[2017-02-14 07:19] Cherry522 opened #937 "There is no 'distributed' property in openstack4j's router"
There is no 'distributed' property in openstack4j's router，but there is the 'distributed' property in the OpenStack API when create a Router.

[2017-02-15 06:32] zhoutiekui opened #938 "OpenStack4j 3.0.4 glance image Update error"
Version: OpenStack4j  3.0.4-snapshot

Component:  Glancev2

Codes: Image updateImage = os.imagesV2().update(createdImage.toBuilder().name("new format").build());

Error:
ClientResponseException{message=Unsupported Media Type, status=415, status-code=UNSUPPORTED_MEDIATYPE}
	at org.openstack4j.core.transport.HttpExceptionHandler.mapException(HttpExceptionHandler.java:38)
	at org.openstack4j.core.tra

[2017-02-15 07:54] zhoutiekui commented on #938
My connector is jerrsey2 , I tried to change the connector to openstack-resteasy,it works!
I think when we deploy an application, we cannot switch between these connectors, we need an complete working connector. Thanks very much.

[2017-02-15 12:07] auhlig commented on #938
Thanks for reporting @zhoutiekui. Would you like to submit a fix?

[2017-02-16 01:23] zhoutiekui commented on #938
@auhlig  I am so sorry that I have no time and not enough skills to deeply analyze the code now.

[2017-02-16 08:29] vangogh-ken commented on #936
Without null check of value()

[2017-02-16 09:56] sohaninfo commented on #922
I have a question related to sending array of objects to http request as follows

[
   {
      "path":"/master_lb_enabled",
      "value":"True",
      "op":"replace"
   },
   {
      "path":"/registry_enabled",
      "value":"True",
      "op":"replace"
   }
]

To update baymodel, I need to send an array of operations as given above. Following is the link for the same:
https://github.com/openstac

[2017-02-16 11:51] Mrart opened #939 "Can't get hypervsior status && State！"
The hypervisor  details API has two properties for descript the hypervisor status.but openstack4j has not .

[2017-02-16 13:42] pstoyanov91 opened #940 "Creating port adds a port_security_enabled parameter when not specified."
Hello,

When I'm trying to create a port openstack4j always adds port_security_enabled which apparently is not supported anymore.

Logs:
**Request**
POST /v2.0/ports HTTP / 1.1
User - Agent: OpenStack4j / OpenStack Client
X - Auth - Token: edac4ac34c1141c5b6af3648d19f416f
Content - Length: 312
Content - Type: application / json
Host: 10.129.3.228: 9696
Connection: Keep - Alive{
	"port": {
		"name"

[2017-02-17 02:20] hejink opened #942 "Does the openstack4j support the command "nova list --all-tenants --host " api ? or client.compute().servers().listAll(filterParams)?"
It is useful to manage the instances by physical machine

[2017-02-20 08:55] hrchu commented on #877
I encounter this problem, when will the new version release?

[2017-02-20 09:52] auhlig commented on #877
You can use the latest snapshot, @hrchu.
Maybe we cut a new release after the pending PRs are merged, in particular #926.

[2017-02-20 13:00] pstoyanov91 opened #943 "Cannot associate/disassociate floating ip with port in openstackforj v3.0.3"
When trying to associate/disassociate floating ip and port i get the following exception:

`Exception in thread "main" ConnectionException{message=could not find writer for content-type application/json type: java.lang.String, status=0}
	at org.openstack4j.connectors.resteasy.HttpExecutorServiceImpl.invoke(HttpExecutorServiceImpl.java:56)
	at org.openstack4j.connectors.resteasy.HttpExecutorService

[2017-02-21 06:54] kushalagrawal commented on #646
Thanks @gf-chen40. I am closing this bug. based on [#762](https://github.com/ContainX/openstack4j/issues/762)

[2017-02-21 06:54] #646 closed

[2017-02-21 08:00] smarmy commented on #943
I had a similar issue, except it seemed to fail silently. Going back to 3.0.0 seems to work. Don't really have any more info except this piece of code:

[code]

[2017-02-21 18:22] ziliop commented on #930
Hey @auhlig
Unfortunately I'm not fluent in python to do that.

[2017-02-21 18:23] ziliop commented on #930
Hey @auhlig
I'll try to do this.

Cheers

[2017-02-22 06:22] gonewest818 opened #944 "osclient.objectStorage().objects().get(containerName, name) doesn't seem to parse ETag"
Using the version 3.0.3, I am getting different swift objects from `osclient.objectStorage().objects().list(containerName)` versus `osclient.objectStorage().objects().get(containerName, name)` in that the former gives me a list of SwiftObjectImpl containing ETag, wheres the latter gives me a single SwiftObjectImpl with no ETag. In this particular use case I only want the ETag for the individual fi

[2017-02-22 11:58] lorenzo-biava commented on #795
This still happens with the `openstack4j-resteasy` connector, v3.0.3.

It looks like Resteasy client is looking for a `MessageBodyWriter` for the `String` type (the console log API is one of the few that is implemented with a JSON String instead of a POJO).
However, the only two [registered providers](https://github.com/ContainX/openstack4j/blob/3.0.3/connectors/resteasy/src/main/java/org/openstac

[2017-02-22 12:19] olivergondza commented on #647
Hi, Is this resolved after #810? I am asking to know if 3.0.3 is sufficient to resolve https://github.com/jenkinsci/openstack-cloud-plugin/issues/77. Thanks.

[2017-02-22 16:38] emjburns commented on #647
@olivergondza should be - http://www.openstack4j.com/learn/image-v2 is where the documentation is.

[2017-02-24 05:54] auhlig commented on #795
Hi @lorenzo-biava,
Many thanks for investigating.
I hoped it's just a problem with the jackson lib. that would be resolved for us by upgrading.
As you describe it that might not be the case.
How much work would it be to fix it in os4j?

[2017-02-24 06:00] auhlig commented on #944
Hi @gonewest818,
Thanks for filing the issue.
You're right. I guess we easily could add the ETag attribute to the `get()` method.
Do you want to contribute and submit a PR for this?
Would be much appreciated.
Feel free to reach out to us in case you need help

[2017-02-24 06:04] auhlig commented on #943
Hi @pstoyanov91,
Argh resteasy.. See related issues. Should work with another connector.

[2017-02-24 06:15] auhlig commented on #942
Hi @hejink,
According to the javadoc, there is a [listAll(boolean detail)](http://www.openstack4j.com/javadoc/org/openstack4j/api/compute/ServerService.html#listAll-boolean-) and [list(Map<String,String> filteringParams)](http://www.openstack4j.com/javadoc/org/openstack4j/api/compute/ServerService.html#list-java.util.Map-) method.
In case you're proposing an enhancement and want to contribute, fee

[2017-02-24 06:20] auhlig commented on #940
What version are you using? Wasn't this fixed via https://github.com/ContainX/openstack4j/commit/055028765cab562ec1555ac8512ddee791da85f, @vinodborole?

[2017-02-24 06:21] auhlig commented on #936
PR #932

[2017-02-24 06:22] vinodborole commented on #940
Yes @auhlig this is been fixed

[2017-02-24 06:23] auhlig commented on #930
Very cool.
Feel free to reach out in case you need help @ziliop.

[2017-02-24 09:45] lorenzo-biava commented on #795
Well I think it would be quite fast, using one of two options:
1) As far as i can see, the JSON String way (i.e. the `BaseOpenStackService.Invocation#json` method) is only used by few APIs. It might be removed and replaced with standard entity encoding (which I personally think would be much more consistent and readable).
Indeed, I temporarily solved the console log problem defining a proper POJO:

[2017-02-26 18:17] auhlig commented on #795
I agree, the 1st option looks simple and readable. Would prefer that.
Would there be any reason, we should take the more complex 2nd approach?

What do you think @vinodborole, @gondor?